   @charset "gb2312";
   button, fieldset, img { border: 0 }
   a, ins { text-decoration: none }
   button, input[type=submit] { -webkit-appearance: none }
   #header, #search, img { width: 100% }
   #search .fl input, #search .fr ul li { height: 3.33333333rem; line-height: 3.33333333rem }
   *, :after, :before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
   article, aside, blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul { margin: 0; padding: 0 }
   #header, body { margin: 0 auto }
   table { border-collapse: collapse; border-spacing: 0 }
   caption, th { text-align: left }
   li { list-style: none }
   del { text-decoration: line-through }
   button, input, optgroup, option, select, textarea { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0 }
   button { background: 0 0 }
   a { -webkit-touch-callout: none }
   a:focus { outline: 0 }
   input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none !important; margin: 0 }
   img { display: block; border: none }
   .hd { overflow: hidden; zoom: 1 }
   .fl { float: left }
   .fr { float: right }
   .hide { display: none }
   html { font-size: 18px }
   @media (min-width:200px) {
       html { font-size: 9px }
   }
   @media (min-width:480px) {
       html { font-size: 14px }
   }
   @media (min-width:600px) {
       html { font-size: 17px }
   }
   @media (min-width:720px) {
       html { font-size: 18px }
   }
   body { min-width: 320px; max-width: 640px; color: #4c4948; font-size: 18px; font-family: "Microsoft YaHei" }

   header {width: 100%;}
   .banner{width: 100%;margin-top: 2px;}
   nav dl{background: url("../images/nav-bg.jpg") no-repeat;background-size: 100% 100%;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       font-size: 1.5rem;
       text-align: center;
   }
   nav dl dt {font-size: 1rem;
       -webkit-box-flex: 1;
       -moz-box-flex: 1;
       -webkit-flex: 1;
       -ms-flex: 1;
       flex: 1;
       line-height: 4;
   }
   nav dl dd {font-size: 1rem;
       -webkit-box-flex: 3.6;
       -moz-box-flex: 3.6;
       -webkit-flex: 3.6;
       -ms-flex: 3.6;
       flex: 3.6;
       line-height: 2;
   }
   nav ul li a{display: block;float: left;width: 33.33%;text-align: center;}
   nav a{color: #bdc7d7;font-size: 1.5rem;}

   .subnav{padding: 3.3% 0;background-color: #efefef;text-align: center;}
   .subnav h2{font-weight: normal;color: #0c5eb2;font-size: 1.8333333rem;background: url("../images/subnav-bg.jpg") no-repeat;
               background-size: 100% 100%;margin-bottom: 2.8%;}
   .subnav ul{width: 28.6666667rem;margin: 0 auto;overflow: hidden;}
   .subnav ul li{float: left;width: 5.4444444rem;height: 5.4444444rem;margin-right: 2rem;background-color: #fff;position: relative;
                  padding: 1px;border: 1px solid #bf744d;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       border-radius: 50%;}
   .subnav ul li:last-child{margin-right: 0;}
   .subnav ul li a{
       -webkit-transform:translate(0,-50%) ;
       -moz-transform: translate(0,-50%);
       -ms-transform:translate(0,-50%) ;
       -o-transform:translate(0,-50%) ;
       transform: translate(0,-50%);
       position: absolute;left: 0;top: 50%;display: block;
                     text-align: center;width: 100%;font-size: 1.2222222rem;color: #fff;}
   .subnav ul li div{background-color: #bf744d;height: calc(5.4444444rem - 4px);
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       border-radius: 50%;}
   .subnav ul li:nth-of-type(2){border-color: #218fb6;}
   .subnav ul li:nth-of-type(2) div{background-color: #218fb6;}
   .subnav ul li:nth-of-type(3){border-color: #79c30e;}
   .subnav ul li:nth-of-type(3) div{background-color: #79c30e;}
   .subnav ul li:nth-of-type(4){border-color: #b88a1b;}
   .subnav ul li:nth-of-type(4) div{background-color: #b88a1b;}

   .title{text-align: center;}
   .title h3{width: 15%;margin: 0 auto;background: url("../images/title.png") no-repeat;background-size: 100% 100%;color: #fff;}
   .title h4{font-size: 0.8888889rem;color: #aaa;}
   .title a{display: inline-block;margin-top: 0.6666667rem;width: 20%;background-color: #307adb;padding: 1% 0;color: #fff;font-size: 1rem;}
   .title a img{display: inline-block;width: 15%;margin-left: 5%;vertical-align: middle;}

   .part1 ul{overflow: hidden;margin-top: 2.8%;}
   .part1 ul li{float: left;width: 24%;margin-right: 1.33%;}
   .part1 ul li:last-child{margin-right: 0;}
   .part1 p{margin-top: 0.8%;padding: 3.4%;background-color: #efefef;text-indent: 2em;font-size: 1.2222222rem;color: #595757;}
   .part1 p span{color: #0c5eb2;}

   .part2{margin-top: 6.25%;background-color: #efefef;padding: 2.5% 0;}
   .part2 div:last-of-type{margin-top: 2.8%;}
   .part2 div:last-of-type a{display: block;}

   .part3{margin-top: 1.9%;}
   .part3 .title a{width: 30%;}
   .part3 .title a img{width: 11%;}
   .part3 div:last-of-type{margin-top: 2.8%;}
   .part3 div:last-of-type a{display: block;}

   .part4{margin-top: 6.25%;background-color: #efefef;padding: 2.5% 0;}
   .part4 .title a{width: 30%;}
   .part4 .title a img{width: 11%;}
   .part4 .p4-01{padding: 0 1.8%;margin-top: 3.1%;}
   .part4 table{text-align: center;font-size: 1rem;}
   .part4 table .t1 td{padding: 2% 0;color: #fff;}
   .part4 table .t2 td{padding: 4% 0;border-bottom: 2px solid #efefef;padding-left: 5px;}
   .part4 table .c1{background-color: #fc8e00;}
   .part4 table .c2{background-color: #000;font-size: 2rem;font-weight: bold;}
   .part4 table .c3{background-color: #00b6de;position: relative;}
   .part4 table .c3 img{width: 27.2%;position: absolute;top: -1px;right: -1px;}
   .part4 table .c4{background-color: #fff;text-align: left;color: #fc8e00;}
   .part4 table .c5{background-color: #e8e8e8;font-size: 1.3333333rem;}
   .part4 table .c6{color: #00b6de;}
   .part4 table tr td:first-child,.part4 table tr td:nth-child(3){width: 40%;}
   .part4 table tr td:nth-child(2){width: 20%;}
   .part4 table i{font-style: normal;display: block;}
   .part4 table tr:last-of-type td{border: none;}

   .part5{margin-top: 3.75%;}
   .part5 .title a{width: 30%;}
   .part5 .title a img{width: 11%;}
   .part5 .part5-01{display: -webkit-box;margin-top: 2.8%;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
   }
   .part5 .part5-01 .left{
       -webkit-box-flex: 1;
       -moz-box-flex: 1;
       -webkit-flex: 1;
       -ms-flex: 1;
       flex: 1;
       width: 141px;position: relative;
   }
   .part5 .part5-01 .right{
       -webkit-box-flex: 1.26;
       -moz-box-flex: 1.26;
       -webkit-flex: 1.26;
       -ms-flex: 1.26;
       flex: 1.26;
       width: 179px;border: 1px solid #dfdfdf;background-color: #f5f5f5;text-align: center;
   }
   .part5 .part5-01 .left img{
       -webkit-transform:translate(0,-50%) ;
       -moz-transform: translate(0,-50%);
       -ms-transform: translate(0,-50%);
       -o-transform:translate(0,-50%) ;
       transform: translate(0,-50%);
      position: absolute;left: 0;top: 50%;width: 100%;}
   .part5 .part5-01 .right h2{font-size: 2.2222222rem;color: #0c5eb2;}
   .part5 .part5-01 .right h2 span{font-size: 1.3333333rem;color: #555;margin-left: 2%;}
   .part5 .part5-01 .right h3{font-size: 1.3333333rem;color: #fc8e00;}
   .part5 .part5-01 .right .p1{background-color: #307adb;width: calc(100% + 2px);font-size: 1.0555556rem;color: #fff;margin-top: 3%;
                                  padding: 2% 0;}
   .part5 .part5-01 .right .p1 i{font-style: normal;font-size: 1.8888889rem;font-weight: bold;color: #ffc000;}
   .part5 .part5-01 .right .p2{font-size: 1.1666667rem;color: #fc8e00;margin-top: 3%;}
   .part5-01 .right .p3{color: #595757;font-size: 1.1666667rem;padding-bottom: 5%;}


   .part6{margin-top: 4.2%;background-color: #efefef;padding: 2.5% 0;}
   .part6 .title a{width: 30%;}
   .part6 .title a img{width: 11%;}
   .part6 .part6-01{margin-top: 2.8%;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
   }
   .part6 .part6-01 .left{
       -webkit-box-flex: 1;
       -moz-box-flex: 1;
       -webkit-flex: 1;
       -ms-flex: 1;
       flex: 1;
       width: 125px;position: relative;margin-right: 2%;
   }
   .part6 .part6-01 .right{
       -webkit-box-flex: 1.5;
       -moz-box-flex: 1.5;
       -webkit-flex: 1.5;
       -ms-flex: 1.5;
       flex: 1.5;
       width: 188px;border: 1px solid #dfdfdf;background-color: #fff;text-align: center;
   }

   .part6 .part6-01 .right h2{text-align: center;line-height: 1;}
   .part6 .part6-01 .right h2 img{width: 40%;display: inline-block;padding: 2% 0;}
   .part6 .part6-01 .right p{font-size: 1.1666667rem;color: #595757;
       padding:0 5.5%;text-align: left;}
   .part6-01 .right p a{color: #fc8e00;}
   .part6 ul{overflow: hidden;margin-top: 1.4%;}
   .part6 ul li{width: 33%;float: left;margin-right: 0.5%;}
   .part6 ul li:last-of-type{margin-right: 0;}

   .part7{margin-top: 3.6%;}
   .part7 .title a{width: 30%;}
   .part7 .title a img{width: 11%;}
   .part7 .swiper-container{margin-top: 3.3%;}
   .part7 .swiper-slide img{width: 84.5%;margin: 0 auto;}
   .part7 .part7-01{padding: 3.8% 5.6%;background-color: #efefef;width: 81%;margin: 0 auto;border: 1px solid #e7e7e7;
                      border-bottom-color: #b4b4b4;}
   .part7 .swiper-button-next,.part7 .swiper-button-prev{top: 30%;}
   .part7 .swiper-button-next{background-image: url(../images/part7-03.png); left: auto; right: 10px;}
   .part7 .swiper-button-prev{background-image: url(../images/part7-02.png); left: 10px; right: auto;}

   .part7 .part7-01 p{font-size: 1rem;}
   .part7 .part7-01 p span{color: #307adb;font-size: 1rem;margin-left: 9%;}
   .part7 .part7-01 p span:first-child{margin-left: 0;}
   .part7 .part7-01 p a{font-size: 1rem;color: #fc8e00;}
   .part7 .swt{margin-top: 3.9%;background-color: #efefef;}
   .part7 .swt ul{padding:3.75% 3.4% 3.75% 4.3% ;overflow: hidden;}
   .part7 .swt ul li{float: left;overflow: hidden;}
   .part7 .swt ul li .left{width: 18%;float: left;margin-right: 2%;vertical-align: middle;}
   .part7 .swt ul li .left img{padding-top: 15%}
   .part7 .swt ul li .right{width: 80%;float: left;}
   .part7 .swt ul li .right a{display: block;font-size: 1.3333333rem;width: 100%;line-height: 1;color: #307adb;}
   .part7 .swt ul li span{color: #595757;font-size: 1rem;display: block;}
   .part7 .swt ul li:last-child a{display: block;width: 100%;background-color: #fc8e00;
       -webkit-border-radius: 5px;text-align: center;padding: 8% 0;font-size: 1rem;color: #fff;
       -moz-border-radius: 5px;
       border-radius: 5px;}
   .part7 .part7-02{padding: 11.5% 0 1.25% 4%;background: url("../images/part7-06.jpg") no-repeat;background-size: 100% 100%;
                      border-bottom: 1px solid #e1e1e1;margin-top: 3.75%;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;}
   .part7 .left{
       -webkit-box-flex: 1.77;
       -moz-box-flex: 1.77;
       -webkit-flex: 1.77;
       -ms-flex: 1.77;
       flex: 1.77;margin-right: 2%;width: 194px;
   }
   .part7 .right{
       -webkit-box-flex: 1;
       -moz-box-flex: 1;
       -webkit-flex: 1;
       -ms-flex: 1;
       flex: 1;
   }
   .part7 .left li{
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;margin-bottom: 6px;font-size: 1rem;
   }
   .part7 .left li .l1{
       -webkit-box-flex: 1;
       -moz-box-flex: 1;
       -webkit-flex: 1;
       -ms-flex: 1;
       flex: 1;
   }
   .part7 .left li .r1{
       -webkit-box-flex: 6;
       -moz-box-flex: 6
       -webkit-flex: 6;
       -ms-flex: 6;
       flex: 6;
       
   }
   .part7 .mr1{margin-right: 7.7%;}
   .part7 .c1{background-color: #efefef;position: relative;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       border-radius: 5px;}
   .part7 .c1:before{content: "";
       width: 0;
       height: 0;
       border: 8px;
       border-style: dashed solid dashed dashed;
       border-color: transparent #efefef transparent transparent;
       position: absolute;
       left: -16px;
       top: 40%;;
   }
   .part7 .c2{background-color: #fc8e00;position: relative;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       border-radius: 5px;}
   .part7 .c2:before{content: "";
       width: 0;
       height: 0;
       border: 8px;
       border-style: dashed dashed dashed solid;
       border-color: transparent transparent transparent #fc8e00;
       position: absolute;
       right: -16px;
       top: 40%;;
   }
   .part7 .c1 p{
       -webkit-transform: translate(0,-50%);
       -moz-transform: translate(0,-50%);
       -ms-transform:translate(0,-50%) ;
       -o-transform:translate(0,-50%) ;
       transform:translate(0,-50%) ;
       position: absolute;left: 0;top: 50%;width: 100%;text-align: center;}
   .part7 .c2 p{padding: 1% 3%;}
   .part7 .c2 p span{display: block;text-align: left;color: #fff;}
   .part7 .c2 p a{display: block;text-align: right;color: #fff;}

   .part8{margin-top: 4.2%;background-color: #efefef;padding: 2.5% 0;}
   .part8 .title a{width: 30%;}
   .part8 .title a img{width: 11%;}
   .part8 h2{font-size: 1.2222222rem;color: #307adb;}
   .part8 h2 img{display: inline-block;width: 3%;vertical-align: middle;}
   .part8 ul li{font-size: 1rem;color: #595757;}

   .form{margin-top: 3%;}
   .form h2 { background:#0068b8; text-align:center;margin-bottom:15px; line-height: 1.2;padding-bottom: 2%;}
   .form h2 strong { font-size:1.2222222rem; color:#fff;line-height: 1.2;}
   .form h2 font { display:block; text-align:center; font-size:0.6rem;color: #fff;line-height: 1.2;}
   .formBar { text-align:left; margin-bottom:2%;font-size: 1rem; }
   .formBar span{font-size: 1rem;display: inline-block;width: 29%;text-align: right;}
   .formBar input[type=text] ,.formBar input[type=tel],.formBar input[type=date]{ padding:1% 2%; width:55%; color:#666;border:1px solid #a9a9a9; }
   .formBar input[type=radio]{margin-left: 10%;}
   .formBar select { padding:1%; width:55%; color:#666; border:1px solid #a9a9a9;}
   .formBtn { overflow:hidden; text-align:center; margin:2% auto; }
   .formBtn input, .formBtn select, .formBtn a { display: inline-block; vertical-align: middle;
       width: 30%; margin-left: 3%; padding: 2.4% 0; text-align: center; color: #fff;}
   .formBtn input, .formBtn select { background-color: #fc8e00;font-size: 1.5rem;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       border-radius: 5px;}
   .formBtn input[type=button]{height: 2rem;padding: 0;border: none;}

   footer{background: url("../images/footer2.jpg") no-repeat;background-size: 100% 100%;padding-top: 20%;padding-bottom: 5%;}
   footer p{font-size: 1rem;color: #fff;width: 96%;margin: 2% auto;}


