*, :before, :after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header,nav, section, article, aside, footer, figure, figcaption, menu, button {
	margin: 0;
	padding: 0
}
body {
	font-family: Microsoft YaHei, Helvetica, STHeiTi, sans-serif;
	color: #575757;
	background-color: #fff;
	font-size: .2rem;
	outline: 0;
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: auto
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
caption, th {
	text-align: left
}
fieldset, img {
	border: 0
}
li {
	list-style: none
}
ins {
	text-decoration: none
}
del {
	text-decoration: line-through
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0
}
button {
	-webkit-appearance: none;
	border: 0;
	background: 0 0
}
a {
	-webkit-touch-callout: none;
	text-decoration: none;
	color: #595959
}
:focus {
	outline: 0
}
em, i {
	font-style: normal
}
input[type=date] {
	text-align: right
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, input[type=submit] {
	-webkit-appearance: none !important;
	margin: 0
}
.none {
	display: none
}
.block {
	display: block
}
.clearfix:after {
	content: '';
	display: table;
	clear: both
}

img {
    max-width: 100%;
	vertical-align: middle
}
.fl{float: left;}
.fr{float: right;}

.logo{width: 100%;}
.logo a{display: block;}


.banner {
	margin-top: .05rem
}

nav ul,nav a.tel{ float:left;}
nav ul{width:80%;}
nav a.tel{width:20%;background:url(../images/navBg2.jpg) no-repeat; background-size:100% 100%; text-align:center; color:#8c0708; padding:6.5% 0;}
nav a{ display:block;}
nav a:visited{ color:#fff;}
nav ul li{width:24%; margin-right:1%; margin-bottom:1%; float:left; text-align:center;}
nav ul li a{ background:url(../images/nav_bg.jpg) no-repeat; background-size:100% 100%; color:#fff; padding:16% 0;}

.video{margin-top: .3rem;}

.meeting{margin-top: .25rem;overflow: hidden;}
.meeting .fl{width: 38.6%;}
.meeting .fr{width: 56.25%;}
.meeting h3{text-align: center;height: .35rem;line-height: .35rem;background: url("../images/m1.jpg") no-repeat;
             background-size: 100% 100%;color: #fff;}
.meeting .fr h3{background: url("../images/m2.jpg") no-repeat;background-size: 100% 100%;}
.meeting p{font-size: .16rem;line-height: .28rem;margin-top: .1rem;}
.meeting p a{color: #c60000;}
.meeting p i{color: #cc3300;font-weight: bold;}




.mod01 {  margin-top: .37rem;}
.title{background: url("../images/title.jpg") no-repeat;background-size: 100% 100%;padding: .17rem 0 .14rem .92rem;}
.title h3{color: #fff;font-weight: bold;line-height: 1;}
.title h4{color: #fff;font-size: 0.18rem;padding-left: .46rem;line-height: 1;margin-top: .1rem;}
.tab-bd{margin-top: .2rem;}
.tab-bd div{display: none;}
.tab-hd{margin-top: .2rem;}
.tab-hd ul{overflow: hidden;}
.tab-hd ul li{width: 24.4%;margin-right: .8%;float: left;}
.tab-hd ul li:last-of-type{margin-right: 0;}
.tab-hd ul li img{width: 100%;}
.tab-hd ul li p{font-size: .12rem;margin-top: .06rem;line-height: 1;text-align: center;}



.mod02 {margin-top: .37rem;}
.mod02 ul{overflow: hidden;margin-top: .2rem;}
.mod02 ul li{float: left;width: 25%;}
.mod02>img{margin-top: .2rem;}

.mod03 {margin-top: .38rem;}
.mod03>ul>li{overflow: hidden;margin-top: .2rem;}
.mod03 li .fl{width: 11.9%;}
.mod03 li .fr{width: 88.1%;overflow: hidden;}
.mod03 li .fr .tab-hd1{width: 32.1%;float: left;border: 1px solid #d2d2d2;}
.mod03 li .fr .tab-bd1{width: 67.9%;float: left;}
.tab-bd1>div{display: none;}
.mod03 .tab-hd1 li{line-height: 1;padding: .14rem 0;background-color: #eee;text-align: center;border-bottom: 1px solid #d2d2d2;}
.mod03 .tab-hd1 p{font-size: .16rem;line-height: 1;margin-top: .06rem;}
.mod03 .tab-hd1 .on{background-color: #cc3300;color: #fff;}
.mod03 li .fr .right{width: 32.1%;float: right;}
.mod03 li .fr .left{width: 67.9%;float: left;}
.mod03 .fr .right p{height: 2.85rem;background: url("../images/m3-12.jpg") no-repeat;background-size: 100% 100%;text-indent: 1.5em;
         font-size: .16rem;line-height: .26rem;color: #393939;padding: .14rem .14rem 0;}
.mod03 .fr .right p a{color: #cc3300;}


.mod04 {margin-top: .26rem;}
.m4-01{overflow: hidden;margin-top: .27rem;}
.m4-01 .fl{width: 60.6%;}
.m4-01 .fr{width: 39.4%;}
.m4-01 p{background-color: #ebebeb;color: #393939;padding: 0.13rem .19rem 0;height: 3.65rem;text-indent: 2em;
         font-size: .16rem;line-height: .26rem;}
.m4-01 p a{color: #cc3300;}
.mod04 ul{overflow: hidden;margin-top: .26rem;}
.mod04 ul li{width: 19.2%;margin-right: 1%;height: .45rem;line-height: .45rem;font-size: .24rem;border: 1px solid #e7c9c9;
     float: left;margin-bottom: 1%;text-align: center;}
.mod04 ul li a{color: #393939;}
.mod04 ul .i1{margin-right: 0;}
.mod04 ul li:first-child{background-color: #cc3300;border-color: #cc3300;}
.mod04 ul li:first-child a{color: #fff;}
.m4-02{background-color: #f7f7f7;padding: .27rem 0;}
.m4-02 h4{color: #393939;line-height: 1;font-size: .24rem;font-weight: bold;text-align: center;}
.m4-02 h4 span{color: #cc3300;}
.m4-02 p{margin-top: .2rem;padding: 0 .2rem;text-indent: 2em;font-size: .16rem;line-height: .28rem;color: #393939;}
.m4-02 p a{color: #cc3300;}
.m4-03{margin-top: .22rem;overflow: hidden;padding: 0 9%;}
.m4-03 img{display: block;float: left;width: 46.9%;margin-right: 6.2%;}
.m4-03 img:last-child{margin-right: 0;}
.btn{display: block;margin: .25rem auto 0;width: 84%;}

.mod05 {margin-top: .39rem;}
.mod05 ul{overflow: hidden;}
.mod05 ul li{width: 48.9%;float: left;margin-right: 2.2%;}
.mod05 ul li:last-child{margin-right: 0;}
.mod05 img{width: 100%;margin-top: .2rem;}

.mod06{margin-top: .4rem;}
.mod06 ul li{margin-top: .25rem;overflow: hidden;}
.mod06 li .m6-01{width: 53.1%;}
.mod06 li .m6-02{width: 46.9%;height: 2.4rem;background-color: #ebebeb;}
.m6-02 p{padding: .22rem .19rem 0;font-size: .16rem;line-height: .28rem;}

.gh{margin-top: .4rem;}
.gh h2.title1{ background:url(../images/title1.jpg) no-repeat;text-align: center; background-size:100% 100%; color:#fff; padding:2% 0 2% 2%;}
.gh h2.title1 strong{ font-size:120%;}
.gh h2.title1 a{ color:#fff; float:right;  margin-right:2%; margin-top:1%;}

.hd{ overflow:hidden;}
.weixin{ background:#e4e4e4; margin-bottom:50px;}
.weixinFl,.weixinFr{width:50%; float:left;}
.weixinFl{ color:#fff; background:#2762a4; padding:3% 0;}
.weixinFl h3{ margin-bottom:2%; text-align:center; background:url(../images/new/swei1.jpg) no-repeat center center; background-size:100% auto; font-weight:bold;}
.weixinFl p{width:95%; margin:0 auto; font-size:80%; line-height:1.5em; text-align:center;}
.weixinFl a{ display:block; background:#ffefef; padding:2% 0; border-radius:3px; color:#8c0708; text-align:center;width:80%; margin:3% auto;}
.weixinFl a img{ display:inline-block; vertical-align:middle;width: 14%; margin-right:2%;}
.weixinFr{ text-align:center; padding-top:2%;}
.weixinFr p{ line-height:1.5em; font-size:80%;}
.weixinFr img{width:37%;}
.weixinFr font{ color:#8c0708;}
.form { background:#f0f0f0; padding-top: 1%; padding-bottom: 1%; }
.form p.hint {
	text-align: center;
	color: #8c0708;
	margin: 2% 0;
}
.formBar { text-align:center; margin-bottom:2%; }
.formBar input { padding:1% 2%; width:60%; color:#666; }
.formBar input, .formBar span, .formBar select { font-size:89%; color:#4d4d4f; }
.formBar select { padding:1%; width:60%; color:#666; }
.formBtn { overflow:hidden; text-align:center; margin:2% auto; }
.formBtn input, .formBtn select { display: inline-block; vertical-align: middle; width: 30%; margin-left: 3%; padding: 2% 0; text-align: center; color: #fff; border: 0; }
.formBtn input { background:#2767AE; color:#fff; }
.formBtn input, .formBtn select, .formBtn a {
	display: inline-block;
	vertical-align: middle;
	width: 30%;
	margin-left: 3%;
	padding: 2% 0;
	text-align: center;
	color: #fff;
	border: 0;
}
a {
	outline: 0;
	cursor: pointer;
	text-decoration: none;
}
.formBtn a {
	background: url(../images/con22.jpg) no-repeat;
	background-size: 100% 100%;
}
.wxtx { font-size:80%; color:#5d5d5d; text-indent:2em; margin:2%; }
.wxtx font { color:#2767AE; font-weight:bold; font-size:120%; }

