@charset "gb2312";
button, fieldset, img { border: 0 }
a, ins { text-decoration: none }
button, input[type=submit] { -webkit-appearance: none }
#header, #search, img { width: 100% }
#search .fl input, #search .fr ul li { height: 3.33333333rem; line-height: 3.33333333rem }
*, :after, :before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
article, aside, blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul { margin: 0; padding: 0 }
#header, body { margin: 0 auto }
table { border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
li { list-style: none }
del { text-decoration: line-through }
button, input, optgroup, option, select, textarea { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0 }
button { background: 0 0 }
a { -webkit-touch-callout: none }
a:focus { outline: 0 }
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none !important; margin: 0 }
img { display: block; border: none }
.hd { overflow: hidden; zoom: 1 }
.fl { float: left }
.fr { float: right }
.hide { display: none }
html { font-size: 18px }
@media (min-width:200px) {
    html { font-size: 9px }
}
@media (min-width:480px) {
    html { font-size: 14px }
}
@media (min-width:600px) {
    html { font-size: 17px }
}
@media (min-width:720px) {
    html { font-size: 18px }
}
body { min-width: 320px; max-width: 640px; color: #4c4948; font-size: 18px; font-family: "Microsoft YaHei" }

   header {width: 100%;}
   .banner{width: 100%;margin-top: 2px;}
   nav ul {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex
}
nav ul li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 2px;
    background-color: #0170c2;
    text-align: center;
    margin-bottom: 2px;
}
nav ul li a{color: #fff;font-size: 1.1111111rem;line-height: 2;}


   .part1{margin-top: 0.5rem;}
   .part1 .part1-01{margin-top: 2rem;position: relative;background-color: #f2f2f2;padding: 4px 1.8% 4px 40.6%;}
   .part1-01 p{padding: 0.5rem 0.2rem;background: url("../images/part1-02.jpg") no-repeat;background-size: 100% 100%;text-indent: 2em;
                font-size: 1.2222222rem;}
   .part1-01 span{display: block;width: 40%;position: absolute;left: 0;top: -1rem;}
   .part1 .part1-02{padding: 6.7% 5% 3% 5%;overflow: hidden;background: url("../images/part1-03.jpg") no-repeat;
                      background-size: 100% 100%;margin-top: 5%;}
   .part1 .part1-02 li{float: left;width: 32%;margin-right: 2%;}
   .part1 .part1-02 li:last-of-type{margin-right: 0;}
   .part1-02 p{font-size: 0.7777778rem;color: #4c4948;text-align: center;margin-top: 2%;}
   .part1 .part1-03{padding: 6.7% 5% 3% 5%;overflow: hidden;background: url("../images/part1-03.jpg") no-repeat;
                      background-size: 100% 100%;margin-top: 3%;}
   .part1 .part1-03 li{float: left;width: 32%;margin-right: 2%;position: relative;padding: 2px;border: 1px solid #cfcfcf;}
   .part1 .part1-03 li:last-of-type{margin-right: 0;}
   .part1-03 p{font-size: 1rem;color: #4c4948;text-align: center;margin-top: 2%;background-color: rgba(0,0,0,0.4);
                width: calc(100% - 4px);position: absolute;left: 2px;bottom: 2px;}
   .part1-03 p span{color: #fff;}

   .part2{margin-top:5%;}
   .part2 .part2-01{background-color: #ecf7ff;padding: 2.3% 1.25% 3.75% 1.25%;}
   .part2 .part2-02{padding: 1.5%;background-color: #fff;overflow: hidden;}
   .part2 .part2-02 img{display: block;width: 30%;float: left;}
   .part2 .part2-02 p{float: right;width: 68%;font-size: 1.2222222rem;}
   .part2-02 p i{background-color: #1c7dc5;font-size: 1rem;color: #fff;vertical-align: middle;padding: 0 2%;margin-right: 2%;}
   .part2-02 p span{color: #df060e;}
   .part2>img{margin-top: 2%;}
   .btn{width: 74%;margin: 3% auto;border: 1px solid #f3761c;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       border-radius: 5px;}
   .btn span,.btn a{display: inline-block;text-align: center;height: 2.6rem;line-height: 2.6rem;}
   .btn span{width: 34%;background-color: #f3761c;color: #fff;font-size: 1.1111111rem;}
   .btn a{width: 64%;color: #f3761c;font-size: 1.2222222rem;font-weight: bold;text-align: center;}

   .part3{margin-top: 4%;}
   .part3 .title{margin-bottom: 3%;}
   .part3>h2{font-size:1.2222222rem;font-weight: normal;color: #fff;text-align: center;width: 57%;margin: 0 auto;
              background: url("../images/part3-01.jpg") no-repeat;padding: 2% 0;background-size: 100% 100%;line-height: 1;}
   .part3 .p1{font-size: 1.2222222rem;color: #595757;padding: 1.8% 3.6%;border: 1px dashed #cbcbcb;}
   .part3 .photo{border: 2px solid #d7d7d7;}
   .part3 .swiper-container{margin-top: 3.8%;}
   .part3 .swiper-slide p{text-align: center;color: #595757;font-size: 1rem;margin-top: 2%;}
   .part3 .part3-01{margin-top: 11%;position: relative;}
   .part3 .part3-01 p{font-size: 1.2222222rem;color: #595757;background: url("../images/part3-08.jpg") no-repeat;padding: 3%;}
   .part3 .part3-01 p i, .part3 .part3-01 p a{color: #df060e;font-style: normal;}
   .part3 .part3-01 p a{padding-left: 4.6%;background: url("../images/part3-07.png") no-repeat left center;
                          background-size: 10% 70%;}
   .part3 .part3-01 h2{font-size: 1.2222222rem;color: #fff;text-align: center;background: url("../images/part3-06.jpg") no-repeat;
                         background-size: 100% 100%;width: 64%;position: absolute;left:18%;top: -35%; padding: 1% 0 3% 0;}

   .part4{margin-top: 2.7%;background-color: #f6f6f6;padding-bottom: 3.4%;}
   .part4 h2{color: #1c7dc5;text-align: center;font-size: 1rem;line-height: 1.2;margin-top: 3.3%;
              background: url("../images/part4-01.jpg") no-repeat;background-size: 100% 100%;}
   .part4 ul{
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       padding: 0 1.5%;margin-top: 6%;
   }
   .part4 ul li{border: 1px solid #d8d8d8;background-color: #eaf4fc;
       -webkit-box-flex: 1;
       -moz-box-flex: 1;
       -webkit-flex: 1;
       -ms-flex: 1;
       flex: 1;
       margin-right: 2%;
   }
   .part4 ul li:last-of-type{margin-right: 0;}
   .part4 ul li p{font-size: 1rem;color: #595757;padding-left: 8%;}
   .part4 .btn span img{width: 10%;display: inline-block;vertical-align: middle;margin-left: 2%;}
   .part4 h3{color: #1c7dc5;font-size: 1.2222222rem;text-align: center;line-height: 2.5;
        background: url("../images/part4-05.jpg") no-repeat;background-size: 100% 100%;}
   .part4 .part4-02 li{border: none;background: url("../images/part4-09.jpg") no-repeat;background-size: 100% 100%;padding-left: 7%;
                         }
   .part4 .part4-02 li:last-child{padding-left: 0;padding-right: 7%;}
   .part4 .part4-02 .p1{background: url("../images/part4-06.jpg") no-repeat;background-size: 100% 100%;}
   .part4 .part4-02 .p2{background: url("../images/part4-07.jpg") no-repeat;background-size: 100% 100%;}
   .part4 .part4-02 .p3{background: url("../images/part4-08.jpg") no-repeat;background-size: 100% 100%;}
   .part4 .part4-02 li p{padding: 2% 3%;font-size: 1.1111111rem;}
   .part4 .part4-02 li p i{font-style: normal;color: #f3761c;}

   .part5{margin-top: 4.5%;}
   .part5 .part5-01{margin-top: 2%;padding: 2.5% 4.3%;background: url("../images/part5-01.jpg") no-repeat;color: #595757;
                      font-size: 1.1111111rem;text-indent: 2em;}
   .part5 h2{font-size: 1.3333333rem;color: #8d8d8d;font-weight: bold;width: 55%;margin: 2.8% auto;line-height: 1.7;
              background: url("../images/part5-02.jpg") no-repeat;background-size: 100% 100%;text-align: center;}
   .part5 h2 i{font-style: normal;color: #0170c2;}
   .part5 .part5-02  li{margin-top: 2.8%;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;border: 1px solid #1c7dc5;}
   .part5 .part5-02 li .left{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
   }
   .part5 .part5-02  li .right{padding-left: 3rem;
       -webkit-box-flex: 1.56;
       -moz-box-flex: 1.56;
       -webkit-flex: 1.56;
       -ms-flex: 1.56;
       flex: 1.56;
       background: url("../images/part5-06.jpg") no-repeat;
       background-size: 100% 100%;
   }
   .part5 .part5-02  li .right .r1{margin-top:10%;overflow: hidden;}
   .part5 .part5-02  li .right .r1 span{display:block;float: left;}
   .part5 .part5-02  li .right .r1 span:first-of-type{width: 32.33%;color: #0170c2;font-size: 2rem;font-weight: bold;line-height: 1.6666667rem;}
   .part5 .part5-02  li .right .r1 span:nth-of-type(2){width: 67.66%;font-size: 0.6666667rem;line-height:1rem;}
   .part5 .part5-02  li .right .r1 span:nth-of-type(2) i{font-style: normal;font-size: 1rem;}
   .part5 .part5-02  li .right h3{background:url("../images/part5-08.jpg") no-repeat;background-size: 100% 100%;color: #fff;padding: 1% 0;text-align: center;
                         width: 40%;margin-top: 5%;font-size: 1rem;}
   .part5 .part5-02  li .right p{font-size: 1rem;color: #595757;margin-top: 3%;}
   .part5 .part5-02  li .right a{display: block;margin: 5% auto;width: 70%;background-color: #f3761c;text-align: center;color: #fff;padding: 2% 0;
                        font-size: 1rem;}
   .part5 .part5-02  li .right a img{width: 7%;display: inline-block;vertical-align: middle;margin-left: 2%;}
   .part5 h4{margin-top: 4%;text-align: center;font-weight: bold;border-bottom: 1px solid #c5c5c5;}
   .part5 h4 i{color: #0170c2;font-style: normal;}
   .part5 h4 span{border-bottom: 2px solid #1c7dc5;font-size: 1.3333333rem;}
   .part5 .part5-03{margin-top: 1rem;overflow: hidden;}
   .part5 .part5-03 li{width: 32%;float: left;margin-right: 2%;position: relative;}
   .part5 .part5-03 li:last-child{margin-right: 0;}
   .part5 .part5-03 li p{position: absolute;line-height: 1;padding: 5% 0;left: 0;bottom: 0;background-color: rgba(255,255,255,0.6);
                             text-align: center;color: #828282;font-size: 1.2222222rem;width: 100%;}
   .part5 .part5-03 li p span{font-weight: bold;color: #1c7dc5;}

   .part6{margin-top: 5%;background-color: #f6f6f6;padding-bottom: 1rem;}
   .part6 ul{overflow: hidden;padding: 0 3.4%;margin-top: 1rem;}
   .part6 ul li{float: left;width: 49%;margin-right: 2%;padding: 1px;background-color: #fff;border: 1px solid #c0c0c0;margin-bottom: 1rem;}
   .part6 ul li:nth-of-type(2n){margin-right: 0;}
   .part6 ul li>div{margin-top: 2px;background-color: #ebebeb;font-size: 1rem;padding: 0.5rem 1rem;}
   .part6 ul li p span{color: #0170c2;}
   .part6 .btn-01{width: 45%;margin: 0 auto;background-color: #f3761c;
       -webkit-border-radius: 5px;text-align: center;padding: 2% 0;color: #fff;font-size: 1rem;;
       -moz-border-radius: 5px;
       border-radius: 5px;}
   .part6 .btn-01 a{font-size: 1rem;color: #fff;}

   .part7{margin-top: 4%;}
   .part7>p{margin-top: 1rem;padding: 1rem 0.5rem;background-color: #f6f6f6;font-size: 1.2222222rem;}
   .part7 p img{width: 1rem;height: 1rem;display: inline-block;vertical-align: text-top;margin-right: 2%;}
   .part7 .photo{border: 2px solid #d7d7d7;}
   .part7 .swiper-container{margin-top: 3.8%;}
   .part7 .swiper-slide p{text-align: center;color: #595757;font-size: 1rem;margin-top: 2%;}

   .part8{margin-top: 5%;}
   .part8 .title{background-color: #e6f4fe;}


   .form{margin-top: 3%;}
   .form h2 { background:#0068b8; text-align:center;margin-bottom:15px; line-height: 1.2;padding-bottom: 2%;}
   .form h2 strong { font-size:1.2222222rem; color:#fff;line-height: 1.2;}
   .form h2 font { display:block; text-align:center; font-size:0.6rem;color: #fff;line-height: 1.2;}
   .formBar { text-align:center; margin-bottom:2%;font-size: 1rem; }
   .formBar span{font-size: 1rem;}
   .formBar input { padding:1% 2%; width:55%; color:#666;border:1px solid #a9a9a9; }
   .formBar select { padding:1%; width:55%; color:#666; border:1px solid #a9a9a9;}
   .formBtn { overflow:hidden; text-align:center; margin:2% auto; }
   .formBtn input, .formBtn select, .formBtn a { display: inline-block; vertical-align: middle;
       width: 30%; margin-left: 3%; padding: 2.4% 0; text-align: center; color: #fff;}
   .formBtn input, .formBtn select { background:url(../images/con21.jpg) no-repeat; background-size:100% 100%;}
   .formBtn a { background:url(../images/con22.jpg) no-repeat; background-size:100% 100%;height: 2rem;padding: 0;}
   .formBtn input[type=button]{height: 2rem;padding: 0;border: none;}

   .foot-nav ul{background-color: #0170c2;overflow: hidden;}
   .foot-nav ul li{width: 25%;float: left;text-align:center;line-height: 2;padding: 1% 0;}
   .foot-nav ul li a{font-size: 1rem;color: #fff;}

   .wxtx { font-size:1rem; color:#5d5d5d; text-indent:2em; margin:2%; }
   .wxtx font { color:#d20002; font-weight:normal; }

   .weixin { background:#e4e4e4; width:100%; position:relative;margin-top: 3%}

   .weixinFl, .weixinFr { width:50%; }

   .weixinFl { color:#fff; background:#0068b8; padding:3% 0; }

   .weixinFl h3 { margin-bottom:2%; text-align:center;font-weight:bold; }

   .weixinFl p { width:90%; margin:0 auto; font-size: 1rem; line-height:1.5em; text-align:center; }

.weixinFl a { display:block; background:#ffefef; padding:2% 0; border-radius:3px; color:#8c0708; text-align:center; width:80%; margin:3% auto; }

.weixinFl a img { display:inline-block; vertical-align:middle; width: 14%; margin-right:2%; }

.weixinFr { text-align:center; position: absolute; right: 0; top: 0; width: 50%; height:100%; display:block; }

.weixinFr .boxfl { display:table; width:100%; height:100%; }

.fltable { display:table-cell; width:100%; vertical-align:middle;}

.weixinFr p { line-height: 1.2em; color:#900000; }

.weixinFr img { width:37%; display: inline-block;}

















