@charset "gb2312";
button, fieldset, img { border: 0 }
a, ins { text-decoration: none }
button, input[type=submit] { -webkit-appearance: none }
#header, #search, img { max-width: 100% }
#search .fl input, #search .fr ul li { height: 3.33333333rem; line-height: 3.33333333rem }
*, :after, :before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
article, aside, blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul { margin: 0; padding: 0 }
#header, body { margin: 0 auto }
table { border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
li { list-style: none }
del { text-decoration: line-through }
button, input, optgroup, option, select, textarea { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0 }
button { background: 0 0 }
a { -webkit-touch-callout: none }
a:focus { outline: 0 }
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none !important; margin: 0 }
img { display: block; border: none; max-width:100%; }
.hd { overflow: hidden; zoom: 1 }
.fl { float: left }
.fr { float: right }
.hide { display: none }
em,i{font-style: normal;}
html { font-size: 18px }
@media (min-width:200px) {
    html { font-size: 9px }
}
@media (min-width:480px) {
    html { font-size: 14px }
}
@media (min-width:600px) {
    html { font-size: 17px }
}
@media (min-width:720px) {
    html { font-size: 18px }
}
body { min-width: 320px; max-width: 640px; color: #4c4948; font-size: 18px; font-family: "Microsoft YaHei" }

.logo{position: fixed;top: 0;max-width: 640px;min-width: 320px;z-index: 9999;}

.search{width: 95.6%;margin: 0.5rem auto;overflow: hidden;border: 1px solid #d5d5d5;margin-top: 15%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.search input{display: block;float: left;width: 87%;height: 2rem;border: none;text-indent: 1em;
                 line-height: 2rem;}
.search input[type=text]{font-size: 1rem;color: #e7e7e7;}
.search input[type=button]{width: 13%;border-left: 1px solid #e7e7e7;
               background: #f3f3f3 url("../images/search.png") no-repeat center center;
               background-size: 35% 70%;}
.banner{position: relative;}
.banner a{display: block;width: 34.6%;padding: 3.3% 0;position: absolute;left: 55%;top: 79%;}

.part1{margin-top: 3.4%;}
.title{text-align: center;}
.title img{width: 80.5%;display: inline-block;}
.part1 .p1{padding: 2.2% 2.8%;background-color: #f3f3f3;border-top: 1px solid #00aded;
            text-indent: 2em;font-size: 1.3333333rem;color: #5f5f5f;line-height: 1.5;}
.part1 .p1 i{color: #ed0027;}
.part1 ul{margin-top: 1.6%;overflow: hidden;}
.part1 ul li{width: 32%;margin-right: 2%;padding: 1px;border: 1px solid #d5d5d5;float: left;}
.part1 ul li:last-of-type{margin-right: 0;}
.part1 li div{position: relative;}
.part1 li div p{position: absolute;left: 0;bottom: 0;width: 100%;text-align: center;background-color: rgba(0,0,0,0.6);color: #fff;
                  font-size: 1.3333333rem;padding: 1% 0;}

.part2{margin-top:4.5%;padding: 2.2% 1.1%;background-color: #f6f6f6;}
.part2 ul{margin-top: 2.5%;overflow: hidden;}
.part2 ul li{width: 30%;margin-right: 5%;float: left;}
.part2 ul li:last-of-type{margin-right: 0;}
.part2 li h2{font-size: 1.5rem;text-align: center;color: #fff;padding: 2% 0;background: url("../images/part2-01.jpg") no-repeat;
              background-size: 100% 100%;font-weight: normal;}
.part2 li div{margin-top: 2px;border: 1px solid #d5d5d5;text-align: center;}
.part2 li div img{display: inline-block;width: 90%;}
.part2 li div p{background-color: #fff;color: #5f5f5f;padding: 8%;text-align: left;font-size: 1.3333333rem;}
.part2 .btn{width: 44%;margin: 1rem auto;background-color: #f3761c;text-align: center;padding: 1% 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;}
.part2 .btn a{font-size: 1.5rem;color: #fff;}

.part2-01{margin-top: 3%;}
.part2-01 .p1{padding: 2.2% 2.8%;background-color: #f3f3f3;border-top: 1px solid #00aded;
    text-indent: 2em;font-size: 1.3333333rem;color: #5f5f5f;line-height: 1.5;}
.part2-01 .p1 i{color: #ed0027;}
.part2-02{margin-top: 2.5%;position: relative;}
.part2-02 a{display: block;width: 22%;font-size: 1.5rem;color: #fff;background-color: #f3761c;text-align: center;
    padding: 1% 0;position: absolute;bottom: 2.2%;left: 39%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}

.part3{margin-top:6.6%; }
.part3-01{padding: 2.2% 1.1%;background-color: #f6f6f6;}
.part3-01 img{width: 87.5%;margin: 0 auto;}
.part3-01 .btn{width: 40%;margin: 3.75% auto;background-color: #f3761c;color: #fff;font-size: 1.5rem;text-align: center;
                 padding: 1% 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.part3-01 .btn a{color: #fff;}
.part3 .part3-02 h2{width: 85%;margin: 3.9% auto;font-size: 1.5rem;text-align: center;font-weight: normal;
                      background: url("../images/part3-02.jpg") no-repeat;background-size: 100% 100%;padding: 1% 0;}
.part3-02 h2 span{color: #00aded;}
.part3-02 h2 i{color: #ed0027;font-size: 1.6666667rem;}
.part3-02 h2 em{color: #f3761c;}
.part3-02 .btn{width: 70%;margin: 3.75% auto;background-color: #f3761c;color: #fff;font-size: 1.5rem;text-align: center;
    padding: 1% 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.part3-02 .btn a{color: #fff;}

.part4-01{padding: 2.2% 1.1%;background-color: #f6f6f6;}
.part4-01 .p4-01{position: relative;}
.part4-01 .p4-01 a{display: block;width: 35%;font-size: 1.5rem;background-color: #f3761c;color: #fff;text-align: center;
               padding: 1% 0;position: absolute;left: 2%;bottom: 5%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.part4-02{margin-top: 0.5rem;}
.part4-02 .p4-02{position: relative;}
.part4-02 .p4-02 .btn{overflow: hidden;width: 60%;position: absolute;right: 2%;top: 80%;}
.p4-02 .btn a{display: block;width:38%;float: left;background-color: #00aded;font-size: 1.5rem;color: #fff;text-align: center;
               padding: 1% 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;margin-right: 4%;}
.p4-02 .btn .a1{width: 58%;margin-right: 0;background-color: #f3761c;}

.part5{margin-top:3.5%;}
.part5-01 .p5-01{position: relative;}
.part5-01 .p5-01 a{display: block;width: 35%;font-size: 1.5rem;background-color: #f3761c;color: #fff;text-align: center;
    padding: 1% 0;position: absolute;left: 48%;bottom: 3%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}

footer{margin-bottom: 15%;}
.ghym {
    background:#1cb6ef;
    background-size: cover;
    overflow: hidden;
    zoom: 1;
    line-height: 1;
    padding: 1% 0 4%;
    margin-top: 2%;
}
.ghym h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3;
    color: #fff;
}
.ghym_c2 {
    overflow: hidden;
    zoom: 1;
    margin: 0px 2%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.ghym_c2>div{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 150px;
}
.ghym_c2 .left{margin-right: 4%}
.txt21 {
    overflow: hidden;
    zoom: 1;
    width: 70%;
    border: #a8acad 1px solid;
    line-height: 2;
    background: #e9ecf5 url(../images/gh_lo1.png) no-repeat 5% center;
    background-size:25% 80%;
    box-shadow: 0px 5px 5px #c9ced6 inset;
    color: #00aded;
    padding-left: 28%;
    font-size: 1rem;
}
.text21 {
    border: #a8acad 1px solid;
    background: #e9ecf5;
    width: 98%;
    line-height: 2;
    box-shadow: 0px 10px 10px #c9ced6 inset;
    color: #666666;
    font-size: 1rem;
}
.button2 {
    background: #cbcbcb;
    width: 50%;
    background-size: contain;
    margin: 0px auto;
    border: 1px solid #b0c1c2;
    display: block;
    color: #333333;
    font-size: 1.3333333rem;
    padding: 1% 0;
}
.ghym_l2 {
    width: 48%;
    background: #43c3f2;
    padding-bottom: 2%;
}
.ghym_l2 ul {
    overflow: hidden;
    zoom: 1;
}
.ghym_l2 ul li {
    margin: 8.5% 6.5% 0;
    overflow: hidden;
    zoom: 1;
    vertical-align: top;
}
.ghym_l2 ul li:nth-child(2) {
    margin-top: 5%;
}
.ghym_r2 {
    width: 48%;
    padding-top: 5%;
    background: #43c3f2;
}
.ghym_r2 i {
    padding: 2.3% 6.5%;
    display: block;
}
.ghym_r2 i img {
    width: 100%;
}


.foot {
    width: 100%;
    background: #333333;
    overflow: hidden;
    zoom: 1;
    position: relative;
    z-index: 0;
}
.foot_c {
    text-align: center;
    margin: 0px auto;
    padding: 3% 0 2%;
}
.foot_c h2 {
    font-weight: bold;
    line-height: 2;
    font-size: 1.5rem;
    color: #cccccc;
}
.foot_c i {
    display: block;
    padding: 2% 0 3%;
    text-align: center;
}
.foot_c i img {
    width: 30%;display: inline-block;
}
.foot_c h3 {
    font-size: 1.3333333rem;
    color: #ffff33;
    line-height: 1;
}


