*, :before, :after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header nav, section, article, aside, footer, figure, figcaption, menu, button {
	margin: 0;
	padding: 0
}
body {
	font-family: Microsoft YaHei, Helvetica, STHeiTi, sans-serif;
	color: #575757;
	background-color: #fff;
	font-size: .2rem;
	outline: 0;
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: auto
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
caption, th {
	text-align: left
}
fieldset, img {
	border: 0
}
li {
	list-style: none
}
ins {
	text-decoration: none
}
del {
	text-decoration: line-through
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0
}
button {
	-webkit-appearance: none;
	border: 0;
	background: 0 0
}
a {
	-webkit-touch-callout: none;
	text-decoration: none;
	color: #595959
}
.fl{float: left;}
.fr{float: right;}
:focus {
	outline: 0
}
em, i {
	font-style: normal
}
input[type=date] {
	text-align: right
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, input[type=submit] {
	-webkit-appearance: none !important;
	margin: 0
}
.none {
	display: none
}
.block {
	display: block
}
.clearfix:after {
	content: '';
	display: table;
	clear: both
}
.viewport {
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto
}
img {
	max-width: 100%;
	vertical-align: middle
}
.pd2{padding: 0 2%;}
header img {
	display: block
}
header .logo {
	display: block;
	margin-top: .03rem
}
.banner {
	margin-top: .05rem
}
.banner img {
	display: block
}
nav {
	overflow: hidden;
	margin-top: .1rem
}
nav .nu {
	width: 67%;
	float: left
}
.na {
	display: block;
	float: left;
	width: 33%;
	margin-top: .5%;
	background: #a8763e;
	color: #fff;
	text-align: center;
	padding: .145rem 0
}
.nu li {
	position: relative;
	float: left;
	width: 32.8%;
	margin-left: .5%;
	margin-top: .5%
}
.nu li .hot {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: .35rem;
	height: .3rem;
	border-top-right-radius: .05rem;
}
.nu li:first-child, .nu li:nth-of-type(4) {
	margin-left: 0
}
.nu li a {
	display: block;
	background: #a8763e;
	color: #fff;
	text-align: center;
	padding: .07rem;
}
.mod01{margin-top: .35rem;}
.mod01 .p1{font-size: .16rem;line-height: .26rem;padding: .06rem .15rem .32rem 1.6rem;color: #333;margin-top: .26rem;
            background: url("../images/m1-01.jpg") no-repeat;background-size: 100% 100%;}
.mod01 ul{margin-top: .08rem;overflow: hidden;}
.mod01 ul li{width: 48.1%;float: left;margin-right: 3.8%;border: 1px solid #b71259;background-color: #b3044f;}
.mod01 ul li:last-of-type{margin-right: 0;}
.m1-01{padding: .17rem .11rem .13rem .11rem;}
.m1-01 h3{line-height: 1;text-align: center;color: #ffea00;font-size: .2rem;padding-bottom: .08rem;
	       border-bottom: 1px solid #eab9ce;margin-bottom: .08rem;}
.m1-01 p{font-size: .16rem;line-height: .26rem;color: #fff;}
.mod01 li .i1{position: relative;}
.mod01 li .i2{position: absolute;right: 0;bottom: 0;width: .69rem;height: .69rem;display: block;}

.mod02 {margin-top: .34rem;}
.mod02 ul{overflow: hidden;margin-top: .28rem;}
.mod02 ul li{float: left;width: 22.8%;height: 3.6rem;}
.mod02 ul .i1{width: 54.4%;background: url("../images/m2-05.jpg") no-repeat;background-size: 100% 100%;
               padding: 0 .12rem;}
.mod02 ul li h3{font-size: .24rem;line-height: 1;margin-top: .19rem;text-align: center;color: #323232;
        background: url("../images/m2-06.jpg") no-repeat;background-size: 100% 100%;}
.mod02 ul li p{font-size: .16rem;line-height: .26rem;color: #323232;margin-top: .13rem;padding: 0 .06rem;}
.mod02 ul li .img1{margin-top: .73rem;margin-bottom: .03rem;}
.mod02 ul .i1>img{margin-top: .12rem;}

.mod03 {margin-top: .34rem;}
.mod03 .m3-01{margin-top: .3rem;padding-top: .77rem;background: url("../images/m3-01.jpg") no-repeat;
               background-size: 100% 100%;}
.m3-01>div{margin-bottom: 0.35rem;padding-left: .54rem;}
.m3-01>div h3{width: 82%;background: url("../images/m3-02.jpg") no-repeat;background-size: 100% 100%;text-align: center;height: .45rem;
              line-height: .45rem;margin-left: .44rem;color: #323232;font-size: .24rem;}
.m3-01>div h3 i{color: #b3044f;font-weight: bold;}
.m3-02{margin-top: .31rem;overflow: hidden;}
.m3-02 li{width: 30.4%;margin-right: 4.4%;float: left;}
.m3-02 li:last-of-type{margin-right: 0;}
.m3-02 li p{padding: .06rem;margin-top: .01rem;font-size:.16rem;line-height: .24rem;color: #323232;background-color: #e8e8e8;}
.m3-03{margin-top: .3rem;overflow: hidden;}
.m3-03 li{width: 47.8%;margin-right: 4.4%;float: left;}
.m3-03 li:last-of-type{margin-right: 0;}
.m3-03 li p{padding: .1rem .06rem;font-size:.16rem;line-height: .24rem;color: #323232;background-color: #e8e8e8;text-align: center;}
.m3-03 li img{border: 1px solid #d2d2d2;}
.m3-04{margin-top: .3rem;overflow: hidden;}
.m3-04 li{width: 47.8%;margin-right: 4.4%;float: left;}
.m3-04 li:last-of-type{margin-right: 0;}
.m3-04 li p{padding: .1rem 0 .1rem .21rem;font-size:.16rem;line-height: .24rem;color: #323232;background-color: #e8e8e8;}
.m3-04 li img{border: 1px solid #d2d2d2;}
.m3-05{margin-top: .3rem;overflow: hidden;}
.m3-05 li{width: 48.1%;margin-right: 3.8%;float: left;margin-bottom: .26rem;}
.m3-05 li:nth-of-type(2n){margin-right: 0;}
.m3-05 li h4{height: .4rem;line-height: .4rem;text-align: center;color: #fff;
        background: url("../images/m3-10.jpg") no-repeat;background-size: 100% 100%;}
.m3-06{overflow: hidden;margin-top: .01rem;}
.m3-06 .m1{width: 39%;}
.m3-06 .m2{width: 61%;height: 1.23rem;}
.m3-06 p{padding: .15rem .17rem .14rem .08rem;font-size:.16rem;line-height: .24rem;color: #323232;background-color: #e8e8e8;}
.mod03 .btn{display: block;width: 28.75%;height: .64rem;font-size: .24rem;line-height: .26rem;color: #fff;margin: 0 auto;
	         text-align: center;padding-top: .09rem;}
.mod03 .div1{margin-bottom: 0;}
.mod03 .btn span{font-size: .15rem;line-height: .26rem;display: block;}
.mod03 .p1{margin-left: .54rem;font-size: .18rem;height: .39rem;line-height: .39rem;background-color: #e8e8e8;padding-left: .1rem;
            margin-bottom: .2rem;}

.mod04{margin-top: .36rem;}
.m4-01{margin-top: .3rem;}
.m4-01 a{display: block;width: 1.83rem;height: .64rem;margin: .4rem auto;
           background: url("../images/m4-03.jpg") no-repeat;background-size: 100% 100%;}

.mod05{position: relative;}
.mod05 img:first-of-type{margin-bottom: 0.28rem;}
.mod05 a{display: block;width: 28.6%;height: .64rem;position: absolute;left: 35.7%;bottom: 2rem;
          background: url("../images/m5-04.jpg") no-repeat;background-size: 100% 100%;}

.mod06{margin-top: .35rem;}
.m6-01{margin-top: .18rem;}
.mod06 .ad{margin-top: .2rem;position: relative;}
.mod06 .ad a{display: block;width: 34%;height: .52rem;position: absolute;left: 33%;bottom: .14rem;}

.mod07{margin-top: .37rem;}
.m7-01{padding: .23rem 0;background-color: #ffe7cc;position: relative;}
.m7-01 ul{overflow: hidden;}
.m7-01 ul li{width: 45%;margin-left: 3.33%;float: left;margin-bottom: 3.33%;}
.m7-01 ul li img{width: 100%;}
.m7-01 ul .i1{margin-bottom: 0;}
.m7-01 a{display: block;width: .76rem;height: .76rem;background: url("../images/m7-05.png") no-repeat;
           background-size:100% 100%;position: absolute;top: 1.68rem;left: 2.83rem;}

.mod08{margin-top: .35rem;}
.m8-01{overflow: hidden;margin-top: .32rem;}
.m8-01 .fl{width: 40.1%;position: relative;}
.m8-01 .fl a{display: block;width: 1.33rem;height: .64rem;position: absolute;right: .21rem;bottom: .2rem;}
.m8-01 .fr{width: 58.1%;}
.mod08 ul{margin-top: .12rem;}
.mod08 ul li{margin-bottom: .14rem;}
.mod08 ul li:last-of-type{margin-bottom: 0;}
.mod08 h3{height: .36rem;line-height: .36rem;color: #fff;padding-left: .25rem;background-color: #a8763e;position: relative;}
.mod08 ul li h3:before{content: "";display: block;position: absolute;top: .12rem;left:.1rem;
	width: .07rem;height: .11rem;background: url("../images/m8-04.png") no-repeat;background-size: 100% 100%;}
.mod08 ul li p{font-size: .16rem;line-height: .22rem;margin-top: .06rem;}

.nav2 {
	margin-top: .25rem;
	padding: .2rem .1rem 0;
}
.nav2 ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	background: url(../images/part6-03.png) no-repeat;
	background-size: 100% 100%
}
.nav2 ul li {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	padding: .1rem 0;
	margin-left: .6rem;
	border-radius: .05rem;
	background-color: #e2eab5
}
.nav2 ul li img {
	display: block;
	margin: 0 auto;
	max-width: 50%
}
.nav2 ul li p {
	margin-top: .1rem;
	font-size: .22rem
}
.nav2 ul li:nth-child(1) {
	margin-left: 0;
	background-color: #e2eab5;
	color: #9db807
}
.nav2 ul li:nth-child(2) {
	background-color: #e8b9cd;
	color: #c75787
}
.nav2 ul li:nth-child(3) {
	background-color: #e9e1f5;
	color: #b49cdd
}
.nav2 ul li:nth-child(4) {
	background-color: #f7e8cb;
	color: #e4b24f
}
.register {
	padding: 0 .6rem;
}
.register ul {
	margin-top: .1rem
}
.register ul li {
	margin-top: .2rem;
	line-height: .4rem;
	font-size: .22rem
}
.register ul li input {
	border: solid 1px #d7d7d7;
	width: 58%;
	color: #c4c4c3;
	padding-left: .1rem
}
.register ul li select {
	width: 74%;
	height: .4rem;
	line-height: .4rem;
	color: #c4c4c3;
	padding-left: .1rem
}
.register .btn {
	margin: 0.18rem auto 0;
}
.register .btn input {
	width: 40%;
	text-align: center;
	height: .5rem;
	line-height: .5rem;
	background-color: #b1054f;
	color: #fff;
	border-radius: .04rem;
	border: 0;
	font-size: .22rem
}
.register .btn input:nth-child(2) {
	margin-left: .35rem;
	background-color: #313337
}
footer .nu {
	width: 100%;
	margin-bottom: .12rem;
	margin-top: .1rem
}
footer .nu li {
	height: 0.46rem;line-height: 0.46rem;
	width: 19.6%;
	margin-left: .5%;
	-webkit-border-radius: 0.05rem;
	-moz-border-radius: 0.05rem;
	border-radius: 0.05rem;
}
footer .nu li a{padding: 0;-webkit-border-radius: 0.05rem;
	-moz-border-radius: 0.05rem;
	border-radius: 0.05rem;}
footer .nu li:nth-of-type(4) {
	margin-left: .5%
}
footer .nu li:first-child {
	margin-left: 0
}
.ft{padding: .37rem 0 .52rem;background-color: #313337;margin-top: .1rem;}
.ft .ft-01{width: 45%;margin-left: 2.5%;float: left;}
.ft .ft-02{width: 49%;margin-right: 2.5%;float: right;padding-top: .1rem;}
.ft-02 ul li{overflow: hidden;margin-bottom: .36rem;}
.ft-02 ul li:last-of-type{margin-bottom: 0.25rem;}
.ft-02 ul li img{width: 17.5%;margin-right: 2%;}
.ft-02 ul li p{width: 80.5%;font-size: .22rem;color: #b3b3b3;line-height: 1;}
.ft-02 ul li p span{display: block;margin-top: .08rem;}
.ft-02 .btn{overflow: hidden;}
.ft-02 .btn a{display: block;width: 46%;margin-left: 4%;float: left;height: .47rem;line-height: .47rem;
              background-color: #a8763e;padding-left: .14rem;color: #fff;position: relative;font-size: .22rem;
	-webkit-border-radius: 0.05rem;
	-moz-border-radius: 0.05rem;
	border-radius: 0.05rem;}
.ft-02 .btn a:after{content: "";display: block;position: absolute;top: .13rem;right: .14rem;
	width: .22rem;height: .22rem;background: url("../images/f4.png") no-repeat;background-size: 100% 100%;}

