@charset "gb2312";
button, fieldset, img { border: 0 }
a, ins { text-decoration: none }
button, input[type=submit] { -webkit-appearance: none }
#header, #search, img { width: 100% }
#search .fl input, #search .fr ul li { height: 3.33333333rem; line-height: 3.33333333rem }
*, :after, :before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
article, aside, blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul { margin: 0; padding: 0 }
#header, body { margin: 0 auto }
table { border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
li { list-style: none }
del { text-decoration: line-through }
button, input, optgroup, option, select, textarea { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0 }
button { background: 0 0 }
a { -webkit-touch-callout: none }
a:focus { outline: 0 }
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none !important; margin: 0 }
img { display: block; border: none }
.hd { overflow: hidden; zoom: 1 }
.fl { float: left }
.fr { float: right }
.hide { display: none }
html { font-size: 18px }
@media (min-width:200px) {
    html { font-size: 9px }
}
@media (min-width:480px) {
    html { font-size: 14px }
}
@media (min-width:600px) {
    html { font-size: 17px }
}
@media (min-width:720px) {
    html { font-size: 18px }
}
body { min-width: 320px; max-width: 640px; color: #4c4948; font-size: 18px; font-family: "Microsoft YaHei" }

   header {
       overflow: hidden;
       z-index: 999;
       width: 100%;
       top: 0;
       max-width: 640px;
       min-width: 320px;
       text-align: center;
       position: relative;
   }

   header a {
       position: absolute;
       right: 2.8%;
       top: 20%;
       width: 10%;
       display: block;
   }

   header .img1 {
       width: 100%;
   }

   nav ul{overflow: hidden;width: 100%;margin-top: 4px;}
   nav ul li{width: 24.25%;margin-right: 1%;float: left;font-size: 1.3333333rem;line-height: 1;padding: 2% 0;text-align: center;
           background: url("../images/nav.jpg") no-repeat;background-size: 100% 100%;margin-bottom: 1%;}
   nav ul li a{color: #fff;}
   nav ul li:nth-of-type(4),nav ul li:nth-of-type(8){margin-right: 0;}
   .banner{width: 100%;}
   .banner a{display: block;background-color: red;}

   .part1{margin-top: 0.4444444rem;background-color: #f8f8f8;padding: 2% 1.5%;}
   .part1 h2{font-size:1.8888889rem;font-weight: bold;color: #8f2c2c;text-align: center;}
   .part1 h3{font-size: 1.3333333rem;color: #c7c7c7;text-align: center;margin-top: 0.5rem;}
   .part1>p{margin-top: 3%;background: url("../images/part1-01.jpg") no-repeat;background-size: 100% 100%;padding: 4% 3%;
             color: #4c4948;font-size: 1.1111111rem;}
   .part1 ul{overflow: hidden;}
   .part1 ul li{width: 49%;margin-right: 2%;border: 1px solid #e3cfcf;margin-top: 2%;float: left;padding:1%;
                 background-color: #fff;}
   .part1 ul li:nth-of-type(2n){margin-right: 0;}
   .part1 li .part1-01{background-color: #ae4e4f;padding: 2% 1.8% 7% 1.8%;}
   .part1 li:nth-of-type(2) .part1-01,.part1 li:nth-of-type(3) .part1-01{background-color: #7c6f41;}
   .part1 li p{font-size: 1rem;color: #fff;margin-bottom: 8%;}
   .part1 li a{display: block;width: 68%;background-color: #f39800;margin: 0 auto;text-align:center;padding: 3% 0;
       -webkit-border-radius: 50px;color: #fff;font-size: 1.1111111rem;
       -moz-border-radius: 50px;
       border-radius: 50px;}
   .part2{margin-top: 1.8888889rem;}
   .part2 h2{font-size:1.8888889rem;font-weight: bold;color: #8f2c2c;text-align: center;}
   .part2 h3{font-size: 1.3333333rem;color: #c7c7c7;text-align: center;margin-top: 0.5rem;}
   .part2 .part2-01{position: relative;margin-top: 1.8333333rem;}
   .part2 ul{overflow: hidden;}
   .part2 ul li{width: 34%;float: left;margin-right: 32%;margin-bottom: 4.3%;
       background: url("../images/part2-02.jpg") no-repeat;background-size: 100% 100%;}
   .part2 ul li:nth-of-type(2n){margin-right: 0;}
   .part2 ul li h4{font-size: 1rem;line-height: 1;text-align: center;padding: 0.5rem 0;overflow: hidden;}
   .part2 ul li h4 i{font-size: 1rem;font-style: normal;color: rgba(255,255,255,.8);}
   .part2 ul li h4 span{margin-left: 0.5rem;color: #fff;}
   .part2 ul li p{padding: 1.6666667rem 0.6666667rem;color: #4c4948;font-size: 1rem;}
   .part2 .part2-02{width: 36.5%;position: absolute;top: 0;left: 31.5%;}
   .part2 ul li:nth-of-type(2){background: url("../images/part2-03.jpg") no-repeat;background-size: 100% 100%;}
   .part2 ul li:nth-of-type(3){background: url("../images/part2-04.jpg") no-repeat;background-size: 100% 100%;}
   .part2 ul li:nth-of-type(4){background: url("../images/part2-05.jpg") no-repeat;background-size: 100% 100%;}
   .part2 .btn{width: 61%;margin:0 auto;text-align: center;background-color: #f39800;padding: 1% 0;}
   .part2 .btn a{color: #fff;font-size: 1.2222222rem;}

   .part3{margin-top: 4%;background-color: #f8f8f8;padding: 2% 0;}
   .part3 h2{font-size:1.8888889rem;font-weight: bold;color: #8f2c2c;text-align: center;}
   .part3 h3{font-size: 1.3333333rem;color: #c7c7c7;text-align: center;margin-top: 0.5rem;}
   .part3 ul{overflow: hidden;}
   .part3 ul li{width: 40%;float: left;text-align: center;}
   .part3 ul li img{width: 80%;display: inline-block;}
   .part3 ul li p{font-size: 1rem;color: #4c4948;text-align: left;margin-top: 8%;}
   .part3 ul li a{display: block;background-color: #f39800;color: #fff;font-size: 1.1111111rem;width: 75%;
                    margin: 8% auto;line-height: 1;padding: 4% 0;}
   .part3 ul li:nth-of-type(2n+1){margin-left: 4.7%;}
   .part3 ul li:nth-of-type(2n){margin-left: 11%;}
   .part3>p{width: 94%;margin: 0 auto;font-size: 1.1111111rem;color: #ff2400;}

   .part4{margin-top:1.3333333rem;}
   .part4 h2{font-size:1.8888889rem;font-weight: bold;color: #8f2c2c;text-align: center;}
   .part4 h3{font-size: 1.3333333rem;color: #4c4948;text-align: center;margin-top: 0.5rem;}
   .part4>p{margin-top: 3%;background: url("../images/part4-01.jpg") no-repeat;background-size: 100% 100%;padding: 4% 3%;
             color: #4c4948;font-size: 1.1111111rem;}

   .part5{margin-top: 4%;background-color: #f8f8f8;padding: 2% 1.5%;}
   .part5>h2{font-size:1.8888889rem;font-weight: bold;color: #8f2c2c;text-align: center;}
   .part5>h3{font-size: 1.3333333rem;color: #c7c7c7;text-align: center;margin-top: 0.5rem;}

   .part5 .part5-01{  display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
     margin-top: 4%;}
   .part5 .part5-01 .left{  -webkit-box-flex: 1;
       -moz-box-flex: 1;
       -webkit-flex: 1;
       -ms-flex: 1;
       flex: 1;
      width: 137px;}
   .part5 .part5-01 .right{
       -webkit-box-flex: 1.3;
       -moz-box-flex: 1.3;
       -webkit-flex: 1.3;
       -ms-flex: 1.3;
       flex: 1.3;
       width: 183px;
       background: url("../images/part5-03.jpg") no-repeat;
       text-align: left;
       }
   .part5 .part5-01 .left .part5-02{position: relative;}
   .part5 .part5-01 .left .part5-02 a{display: block;width: 68%;background-color: #f39800;text-align: center;line-height: 1;
       padding: 5% 0;
       position: absolute;left: 17%;bottom: 6.5%;font-size: 1.1111111rem;color: #fff;}
   .part5 .part5-01 .left .part5-02 a img{width: 9%;vertical-align: middle;display: inline;margin-right: 2%;}
   .part5 .part5-01 .right h2{font-size: 2.2222222rem;color: #e7e7e7;margin-top: 4%;font-weight: bold;padding-left: 12%;text-align: left;}
   .part5 .part5-01 .right h2 span{font-size: 1rem;font-weight: normal;color: #c09c9c;margin-left: 2%;}
   .part5 .part5-01 .right h3{font-size: 1.3333333rem;color: #fff;font-weight: normal;padding-left: 12%;margin-top: 2%;}
   .part5 .part5-01 .right h4{margin-top: 2%;padding-left: 12%;color: #ffff00;font-size: 1.3333333rem;font-weight: normal;}
   .part5 .part5-01 .right h4 i{font-size: 2.2222222rem;}
   .part5 .part5-01 .right h5{font-size: 1.2222222rem;color: #8f2c2c;background: url("../images/part5-05.jpg") no-repeat center center;
                      background-size: 100% 100%;text-align: center;padding: 0.8% 0;margin-top: 4%;}
   .part5 .part5-01 .right p{font-size: 1.1111111rem;text-align: center;color: #fff;margin-top: 5%;background: url("../images/part5-06.jpg") no-repeat;
                            background-size: 100% 100%;padding: 1% 0;}
   .part5 .part5-01 .right a{display: block;margin: 6% auto;width: 54%;background-color: #f2d6d6;color: #8f2c2c;
                             font-size: 1.1111111rem;line-height: 1;padding: 2% 0;text-align: center;}
   .part5 .part5-01 .right a img{display: inline;width: 14%;vertical-align: middle;margin-right: 2%;}

   .part6{margin-top: 4%;}
   .part6 h2{font-size:1.8888889rem;font-weight: bold;color: #8f2c2c;text-align: center;}
   .part6 h3{font-size: 1.3333333rem;color: #c7c7c7;text-align: center;margin-top: 0.5rem;}
   #slidebox{margin-top: 4%;}
   #slidebox .bd{width: 100%;}
   #slidebox .hd{margin: 10px auto;width: 88px}
   #slidebox .hd ul{overflow: hidden;}
   #slidebox .hd ul li{float: left;width: 19px;height: 19px;
        -webkit-border-radius: 50%;font-size: 0;background-color: #bcbcbc;margin-right: 5px;
        -moz-border-radius: 50%;
        border-radius: 50%;}
   #slidebox .hd ul .on{background-color: #932b2b;}
   .part6 .btn{width: 90%;margin: 5% auto;background-color: #f39800;padding: 1% 0;text-align: center;}
   .part6 .btn a{font-size: 1.1111111rem;color: #fff;}

   .part7{margin-top: 4%;}
   .part7 h2{font-size:1.8888889rem;font-weight: bold;color: #8f2c2c;text-align: center;}
   .part7 h3{font-size: 1.3333333rem;color: #c7c7c7;text-align: center;margin-top: 0.5rem;}
   .part7 .part7-01{position: relative;margin-top: 4%;}
   .part7 .part7-02{background-color: rgba(255,255,255,.6);width: 73%;border: 1px solid #f4f5f8;border-top: none;
                      position: absolute;right: 1%;bottom: 2%;}
   .part7 .part7-02 li{border-bottom: 1px solid #f2f1f1;margin-top: 2%;padding-bottom: 1%;padding-left: 4%;}
   .part7 .part7-02 li:last-of-type{border: none;}
   .part7 .part7-02 li h4{color: #4c4948;font-size: 1rem;font-weight: bold;margin-bottom: 2%;}
   .part7 .part7-02 li h4 span{display: inline-block;height: 1.6666667rem;width: 1.6666667rem;background-color: #b67676;text-align: center;
                                     color: #fff;line-height: 1.6666667rem;margin-right: 1%;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       border-radius: 5px;}
   .part7 .part7-02 p{font-size: 1rem;color: #4c4948;text-align: left;}

   .big_bg {
       overflow: hidden;
       background: url(../images/big_bg.jpg) no-repeat;
       background-size: 100% 100%;
       margin: 3% 0;
       padding-bottom: 3%
   }
   .big_bg h1 {
       background: url(../images/sm_bgs.jpg) no-repeat center;
       text-align: center;
       font-size: 160%;
       color: #FFF;
       font-weight: normal;
       padding: 3% 0;
       background-size: 75%;
   }
   .big_bg p {
       font-size: 140%;
       padding: 2% 4%
   }
   .big_bg p span {
       color: #F00
   }
   .big_bg>form span {
       display: block;
       text-align: left;
       font-size: 130%;
       color: #717171;
       margin-top: 3%;
       overflow: hidden;
   }
   .big_bg>form span i{display: inline-block;width: 30%;text-align: right;font-style: normal;}
   .big_bg>form span input {
       background: #fff;
       border: .05em solid #e0e0e0;
       width: 55%;
       height: 2.5em;
       padding-left: 2%
   }
   .big_bg>form span select {
       background: #FFF;
       border: .05em solid #e0e0e0;
       width: 55%;
       height: 2.5em;
       padding-left: 2%
   }
   .big_bg em {
       display: block;
       text-align: center;
       padding: 5% 2%;
       font-size: 140%
   }
   .big_bg em a {
       color: #FFF
   }

   footer{padding-top: 4%;padding-bottom: 10%;margin-top: 3%;background-color: #6d2322;}
   footer img:nth-of-type(2){margin-top: 2%;}
   footer p{font-size: 1.3333333rem;color: #fff;text-align: center;margin-top: 2%;}









