/*   重置样式  star  */
*, :before, :after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, nav, section, article, aside, footer, figure, figcaption, menu, button { margin: 0; padding: 0 }
body{ font-family:Microsoft YaHei, Helvetica, STHeiTi, sans-serif; color:#575757; background-color: #fff;font-size:0.24rem;outline: 0;max-width: 640px; min-width: 320px; width: 100%; margin:auto;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400}
caption, th { text-align: left }
fieldset, img { border: none;}
li { list-style: none }
ins { text-decoration: none }
del { text-decoration: line-through }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0 }
button { -webkit-appearance: none; border: none;  }
a { -webkit-touch-callout: none; text-decoration: none }
:focus { outline:none }
em, i { font-style: normal }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none !important; margin: 0 }
input[type=submit] { -webkit-appearance: none }
p{line-height: 0.28rem;}
.fl{float:left;}
.fr{float:right;}
.hd{ overflow:hidden}
.block{ display:block;}
.none{ display:none;}
img{vertical-align:middle;max-width: 100%;}
/*   重置样式  end  */

.top{ overflow:hidden}
.top header{ overflow:hidden; position:fixed; z-index:999;width:100%;top:0;max-width:640px;min-width:320px; text-align:center; }
.top header img{ width:100%;}
.top header a{ position:absolute; right:3%; top:15%; width:10%; display:block}
.top header .img1{ width:100%}
.top .sou{ display:block; padding:2% 0; overflow:hidden; margin-top:0.9rem;}
.top .sou input[ type=text]{ width:84%;height: 0.45rem;; background:#fff; padding-left:3%; border:1px solid #dfdfdf;display: block;float: left;
                                color: #4c4948;}
.top .sou input[ type=submit]{ background:#ff9600 url(../images/search.png) no-repeat 10% 50%; border:none;width:15%;
    height: 0.45rem; color:#FFF; padding-left:4%;display: block;float: right;
    font-size: 0.22rem;; background-size:25%;}

.top nav{ overflow:hidden; border: 1px solid #ddd;margin-top: 0.1rem;}
.top nav li{ float:left;width:25%; text-align:center;font-size: 0.26rem;border-right: 1px solid #ddd;}
.top ul li:last-of-type{border: none;}
nav li img{padding: 0.22rem 0;width: 43.75%;}
nav li p{color: #4c4948;padding-bottom: 0.22rem;}
nav ul li:hover{background-color: #f5f5f5;}

.banner{margin-top: 2px;}

.lead{padding: 0.14rem 0.08rem 0.14rem 1rem;margin-top: 0.06rem;background: url("../images/lead.jpg") no-repeat;background-size: 100% 100%;}
.lead p{font-size: 0.18rem;color: #44403f;line-height: 0.26rem;}

.part1{margin-top: 0.13rem;}
.title{overflow: hidden;background: url("../images/t-bg.jpg") no-repeat;background-size: 100% 100%;}
.title .fl{margin-left: 1.5%;width: 72%;padding: 0.075rem 0;}
.title .fr{width: 25%;margin-right: 1.5%;padding: 0.15rem 0;}
.title h2{font-size: 0.3rem;color: #fff;line-height: 1;}
.title h3{font-size: 0.12rem;margin-top: 0.05rem;color: #6097d9;line-height: 1;}

.part1-01{margin-top: 0.19rem;text-align: left;}
.part1-01 .p1-01{width: 90.3%;margin: 0 auto;}
.p1-01 span{font-size: 0.2rem;color: #fff;padding: 0.07rem 0.1rem;background-color: #3178d9;display: inline-block;margin-top: 0.1rem;
             margin-bottom: -1px;}
.p1-01 p{border: 1px dashed #d4d4d4;padding: 0.13rem;font-size: 0.18rem;color: #4c4948;}
.p1-01 p i{color: #e53113;}
.part1 .video{margin-top: 0.09rem;}
.part1 .btn{display: block;width: 67.6%;height: 0.47rem;line-height: 0.47rem;margin: 0.22rem auto;background: url("../images/b1.jpg") no-repeat;
             background-size: 100% 100%;text-align: left;padding-left: 9%;}
.part1 .btn i{font-style: italic;font-size: 0.24rem;color: #ff9600;}
.part1 .btn em{display: inline-block;margin-left: 4%;font-size: 0.22rem;color: #fff;}

.part2 ul li{margin-top: 0.18rem;}
.part2 li h3{width: 59.4%;margin: 0 auto;height: 0.45rem;line-height: 0.45rem;text-align: center;background: url("../images/p2-09.jpg") no-repeat;
              background-size: 100% 100%;color: #fff;font-size: 0.22rem;}
.p2-01{overflow: hidden;margin: 0.17rem 0;padding: 0 2%;}
.p2-01 img{float: left;display: block;width: 32%;margin-right: 2%;}
.p2-01 img:last-child{margin-right: 0;}
.p2-02{width: 97.5%;margin: 0 auto;padding: 0.17rem 0.35rem 0.12rem 0.35rem;background: url("../images/b2.jpg") no-repeat;
        background-size: 100% 100%;}
.p2-02 p{color: #4c4948;font-size: 0.18rem;line-height: 0.24rem;margin-bottom: 0.15rem;}
.p2-02 .btn{width: 77%;margin: 0 auto;height: 0.46rem;line-height: 0.46rem;background: url("../images/b3.png") no-repeat;
             background-size: 100% 100%;display: block;font-size: 0.2rem;text-align: left;padding-left: 3%;}
.part2 .btn i{font-size: 0.2rem;color: #fff;}
.part2 .btn em{display: inline-block;margin-left: 13%;font-size: 0.22rem;color: #ff7200;font-weight: bold;}
.part2 ul li:last-of-type .p2-01 img{width: 49%;}

.part3{margin-top: 0.22rem;}
.p3-01{margin-top: 3px;padding-top: 0.13rem;background: url("../images/p3-01.jpg") no-repeat;background-size: 100% 100%;}
.p3-01 h2{width: 55%;margin: 0 auto;text-align: center;font-size: 0.28rem;color: #135ec3;font-weight: bold;
           border-bottom: 1px solid #d2d2d2;}
.p3-01 h3{color: #d2d2d2;font-size: 0.16rem;text-align: center;}
.p3-01 p{padding: 0.13rem;font-size: 0.18rem;color: #4c4948;text-align: left;text-indent: 2em;}
.p3-01 div{overflow: hidden;}
.p3-01 div img{width: 33%;margin-right: 0.5%;display: block;float: left;}
.p3-01 div img:last-of-type{margin-right: 0;}
.p3-02{margin-top: 0.13rem;}
.p3-02 h2{width: 55%;margin: 0 auto;text-align: center;font-size: 0.28rem;color: #135ec3;font-weight: bold;
    border-bottom: 1px solid #d2d2d2;}
.p3-02 h3{color: #d2d2d2;font-size: 0.16rem;text-align: center;margin-bottom: 0.24rem;}
.p3-02 ul{margin-top: 2%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;}
.p3-02 ul li{border: 1px solid #e4e4e4;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 6px;text-align: center;width: 117px;}
.p3-02 ul li:last-child{margin-right: 0;}
.p3-02 li h4{height: 0.47rem;line-height: 0.47rem;border-bottom: 1px solid #e4e4e4;font-size: 0.22rem;color: #135ec3;}
.p3-02 li h4 span{display: inline-block;height: 0.32rem;width: 0.36rem;line-height: 0.32rem;font-size: 0.18rem;text-align: left;
                    padding-left: 0.05rem;margin-right: 0.08rem;background: url("../images/p3-09.png") no-repeat;
                    background-size: 100% 100%;color: #fff;}
.p3-02 img{width: 92%;margin: 0.1rem auto;}
.p3-02 li p{padding: 4%;color: #4c4948;font-size: 0.18rem;text-align: left;}
.part3 .btn{width: 75%;margin: 0.13rem auto;height: 0.46rem;line-height: 0.46rem;background: url("../images/b4.jpg") no-repeat;
    background-size: 100% 100%;display: block;font-size: 0.2rem;text-align: left;padding-left: 4%;}
.part3 .btn i{font-size: 0.2rem;color: #fff;}
.part3 .btn em{display: inline-block;margin-left: 17%;font-size: 0.24rem;color: #ff7200;font-weight: bold;}


.part4 .tab{margin-top: 0.11rem;padding: 0 0.3rem;}
.p4-02{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;}
.p4-02 .left{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
   width: 116px;}
.p4-02 .right{background: url("../images/p4-02.jpg") no-repeat;background-size: 100% 100%;padding-left: 0.24rem;
    -webkit-box-flex: 1.5;
    -moz-box-flex: 1.5;
    -webkit-flex: 1.5;
    -ms-flex:1.5;
    flex: 1.5;width: 175px;
   }
.p4-02 .left img{width: 100%;}
.p4-02 h3{font-size: 0.24rem;color: #135ec3;font-weight: bold;text-align: left;padding: 0.15rem 0;}
.p4-02 h3 span{color: #4c4948;font-size: 0.2rem;margin-left: 0.1rem;}
.p4-02 p{color: #4c4948;font-size: 0.18rem;line-height: 0.26rem;}
.p4-02 .btn-01{margin-top: 0.25rem;overflow: hidden;}
.p4-02 .btn-01 a{display: block;width: 35%;margin-right: 10%;float: left;text-align: center;background-color: #135ec3;
                    color: #fff;height: 0.42rem;line-height: 0.42rem;}
.p4-02 .btn-01 .a1{background-color: #ff9600;}
.tab-hd{overflow: hidden;margin-top: 0.08rem;}
.tab-hd a{width: 32%;margin-right: 2%;float: left;display: block;}
.tab-hd a:last-of-type{margin-right: 0;}
.tab-hd a.hover{padding: 1px;border: 1px solid #d7d7d7;}
.tab-hd a img{width: 100%;}
.tab-bd li{height:2.9rem !important;}
.p4-03{margin-top: 0.2rem;}
.p4-03 h2{width: 75%;margin: 0 auto;text-align: center;font-size: 0.28rem;color: #135ec3;font-weight: bold;
    border-bottom: 1px solid #d2d2d2;}
.p4-03 h3{color: #d2d2d2;font-size: 0.16rem;text-align: center;}
.p4-04{margin-top: 0.15rem;background-color: #f4f4f4;padding-bottom: 0.27rem;}
.p4-04 p{margin-top: 0.3rem;margin-bottom: 0.15rem;font-size: 0.24rem;color: #135ec3;text-align: center;}
.p4-04 .btn-02{padding: 0 19.5%;overflow: hidden;}
.p4-04 .btn-02 a{display: block;float: left;width: 40%;margin-right: 10%;height: 0.5rem;line-height: 0.5rem;
                   color: #fff;background-color: #135ec3;text-align: center;}
.p4-04 .btn-02 .a2{margin-right: 0;background-color: #ff9600;}

.part5{margin-top: 0.13rem;}
.part5 ul{overflow: hidden;}
.part5 ul li{margin-left: 4%;width: 44%;float: left;margin-top: 0.1rem;}
.part5 ul li p{margin-top: 0.05rem;height: 0.25rem;line-height: 0.25rem;font-size: 0.18rem;color: #4c4948;text-align: center;}
.part5 ul li p img{width: 25%;height: 0.25rem;vertical-align: top;margin-left: 5%;}
.part5 .btn{display: block;width: 80%;margin: 0.15rem auto;text-align: center;background-color: #135ec3;
    -webkit-border-radius: 0.3rem;color: #fff;height: 0.42rem;line-height: 0.42rem;
    -moz-border-radius: 0.3rem;
    border-radius: 0.3rem;}
.part5 .btn img{width: 4%;margin-left: 1%;}

.part6 ul{overflow: hidden;}
.part6 ul li{width: 44%;float: left;margin-left: 4%;margin-top: 0.2rem;text-align: center;border: 1px solid #e5e5e5;}
.part6 li h3{height: 0.4rem;line-height: 0.4rem;border-bottom: 1px solid #e5e5e5;color: #135ec3;font-size: 0.22rem;}
.part6 li img{width: 100%;padding: 0.07rem;}
.part6 li .i1{padding-bottom: 0;}
.part6 .btn{display: block;width: 80%;margin: 0.15rem auto;text-align: center;background-color: #135ec3;
    -webkit-border-radius: 0.3rem;color: #fff;height: 0.42rem;line-height: 0.42rem;
    -moz-border-radius: 0.3rem;
    border-radius: 0.3rem;}
.part6 .btn img{width: 4%;margin-left: 1%;}

a.ad{display:block;}
a.ilink img{display:block;}


.more h3{font-size: 0.24rem;line-height: 0.24rem;color: #f21010;margin-top: 0.3rem;text-align: center;}
.more ul{overflow: hidden;margin-top: 0.3rem;}
.more ul li{float: left;margin-right: 1%;width: 24.25%;text-align: center;background-color: #38b9a7;
    -webkit-border-radius: 0.05rem;
    -moz-border-radius: 0.05rem;
    border-radius: 0.05rem;}
.more ul li:last-of-type{margin-right: 0;background-color: #3fb5d3;}
.more ul li a{display: block;color: #fff;}
.more ul li img{width: 37.5%;padding: 0.15rem 0;}
.more ul li p{padding-bottom: 0.15rem;line-height: 1;}
.more ul li:nth-of-type(2){background-color: #6080d5;}
.more ul li:nth-of-type(3){background-color: #c1a341;}

.iform{background:#f2f2f2;padding:0.2rem;margin-top: 0.2rem;}

.iform span{width:84%;display:block;margin:0 auto;background:url(../images/f1.jpg) no-repeat;background-size:100% 100%;height: 0.24rem;}

.iform em{display:block;text-align:center;color:#dd2d10;margin:2%;}

.iform_a {    width: 90%;margin: 0 auto;}

.iform_a dl{display:block;margin-top:3%;overflow:hidden;}

.iform_a dl dt{float:left;display:block;width: 28%;text-align: right;}

.iform_a dl dd{float:right;width:60%;display:block;margin-right: 10%;}

.iform_a dl dd input{width:88%;padding:1%;font-size: 0.18rem;}

.iform_a dl .dd1 input[type=text]{width: 50%;float: left;}

.iform_a dl label{width: 20%;padding:0;float: left;}

.iform_a dl label input{display: inline-block;width: 50%;}

.iform_a dl dd textarea{width:88%;height:80px;padding:1%;}

.button{margin:2% auto;}

.button input{background:#09428e;color:#fff;border:none;padding:2% 0;    width: 32%;

    margin: 0 auto;

    display: block;}

.iform_a dd select{width:88%;font-size: 0.18rem;height: 0.35rem;line-height: 0.35rem;}

.iform_a dd select option{width:100%;}



.footer img{width:72%;margin:2% auto;display:block;}

.footer p{text-align:center;}

/*tab-bd3*/
.tab-bd3{
    height: 2.5rem;
}