@charset "gb2312";
button, fieldset, img { border: 0 }
a, ins { text-decoration: none }
button, input[type=submit] { -webkit-appearance: none }
#header, #search, img { width: 100% }
#search .fl input, #search .fr ul li { height: 3.33333333rem; line-height: 3.33333333rem }
*, :after, :before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
article, aside, blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul { margin: 0; padding: 0 }
#header, body { margin: 0 auto }
table { border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
li { list-style: none }
del { text-decoration: line-through }
button, input, optgroup, option, select, textarea { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0 }
button { background: 0 0 }
a { -webkit-touch-callout: none }
a:focus { outline: 0 }
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none !important; margin: 0 }
img { display: block; border: none }
.hd { overflow: hidden; zoom: 1 }
.fl { float: left }
.fr { float: right }
.hide { display: none }
html { font-size: 18px }
@media (min-width:200px) {
    html { font-size: 9px }
}
@media (min-width:480px) {
    html { font-size: 14px }
}
@media (min-width:600px) {
    html { font-size: 17px }
}
@media (min-width:720px) {
    html { font-size: 18px }
}
   body { min-width: 320px; max-width: 640px; color: #4c4948; font-size: 18px; font-family: "Microsoft YaHei" }

  .banner{width: 100%;margin-top: 1%;}

  nav{margin-top: 2.5%;}
   nav ul{width: 100%;
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;}
   nav ul li{margin-right: 2px;
       -webkit-box-flex: 1;
       -moz-box-flex: 1;
       -webkit-flex: 1;
       -ms-flex: 1;
       flex: 1;padding-bottom: 2%;
      font-size: 1.2222222rem;text-align: center;
           background: url("../images/nav-bg.jpg") no-repeat;background-size: 100% 100%;margin-bottom: 2px;}
   nav ul li a{color: #fff;display: block;}
   nav ul li a img{width: 43%;padding: 7% 0;margin: 0 auto;}
   nav ul li a p{color: #4c4948;line-height: 1;}
   nav ul li:last-child{margin-right: 0;}
   nav ul:nth-of-type(2) li{margin-bottom: 0;}

   .ad{margin-top: 1.5%;}

   .part1{margin-top: 1.5%;background-color: #f2ece5;padding: 1.5%;}
   .part1 .part1-hd ul{overflow: hidden;}
   .part1 .part1-hd ul li{width: 32%;margin-right: 2%;float: left;color: #a47417;font-size: 1.3333333rem;line-height: 1;
                             padding: 2% 0;text-align: center;border: 4px solid #beb2a4;}
   .part1 .part1-hd ul li:last-child{margin-right: 0;}
   .part1 .part1-hd ul li img{display: inline-block;width: 10%;margin-right: 2%;}
   .part1 .part1-hd ul .on{border-color: #722325;}
   .part1 .part1-bd{margin-top: 1.5%;}
   .part1 .part1-bd .part1-01{overflow: hidden;}
   .part1 .part1-bd .part1-01>div{width: 49%;float: left;margin-right: 2%;border: 1px dashed #b0a390;padding: 3px;}
   .part1 .part1-bd .part1-01>div:last-child{margin-right: 0;}
   .part1 .part1-bd .part1-01 .part1-02{position: relative;}
   .part1 .part1-bd .part1-01 .part1-02 p{position: absolute;left: 0;bottom: 0;background-color: rgba(0,0,0,.8);
                                           width: 100%;text-align: center;color: #fff;font-size: 1.4rem;padding: 2% 0;}
   .part1-bd .part1-03{margin-top: 1.5%;padding: 1.5%;background: url("../images/part1-06.jpg") no-repeat;
                         background-size: 100% 100%;}
   .part1-bd .part1-03 ul{padding-left: 2%;}
   .part1-bd .part1-03 ul li{font-size: 1.1111111rem;line-height: 1;padding: 2% 0;border-bottom: 1px dashed #beb2a4;padding-left: 4.5%;
                             background: url("../images/part1-07.png") no-repeat 1% center;background-size: 2% 50%;}
   .part1-bd .part1-03 ul li a{color: #4c4948;font-size: 1.1111111rem;}
   .part1-bd .part1-03 ul li:last-of-type{border: none;}

   .part2{margin-top: 1.5%;overflow: hidden;}
   .part2>div{width: 32%;float: left;margin-right: 2%;padding: 0 1% 3% 1%;background: url("../images/part2-01.jpg") no-repeat;
                background-size: 100% 100%;text-align: center;}
   .part2>div:last-child{margin-right: 0;}
   .part2 div p{color: #fff;font-size: 1.2222222rem;line-height: 1;padding: 15% 0;}
   .part2 div ul{margin-top: 2.5%;}
   .part2 div ul li{font-size: 1.1111111rem;line-height: 1;padding: 6% 0;background: url("../images/part2-02.jpg") no-repeat;
                      background-size: 100% 100%;margin-bottom: 2.5%;}
   .part2 div ul li a{color: #4c4948;}
   .part2 div ul li .c1{color: #9d161b;}

   .part3{margin-top: 1.5%;}
   .part3-01{overflow: hidden;background-color: #faf4e2;padding: 2% 0;}
   .part3-01 .fl{margin-left: 6%;width: 61%;overflow: hidden;}
   .part3-01 .fl .f1{float: left;width: 15%;margin-right: 2%;}
   .part3-01 .fl .f1 img{vertical-align: middle;}
   .part3-01 .fl .f2{float: left;}
   .part3-01 .fl .f2 span{font-size: 1rem;color: #4c4948;line-height: 1;display: block;}
   .part3-01 .fl .f2 a{font-size: 2.3333333rem;color: #722325;line-height: 1;display: block;}
   .part3-01 .fr{width: 27%;}
   .part3-01 .fr a{display: block;width: 100%;background-color: #ff6400;text-align: center;padding: 7% 0;
                     font-size: 1.2222222rem;color: #fff;}
   .part3-01 .fr a img{display: inline-block;width: 10%;margin-left: 2%}
   .sub-nav{margin-top: 3%;}
   .sub-nav ul{overflow: hidden;}
   .sub-nav ul li{width: 25%;float: left;text-align: center;}
   .sub-nav ul li a{display: block;}
   .sub-nav ul li img{display: inline-block;width: 60%;}
   .sub-nav ul li p{margin-top: 1.5%;}
   .sub-nav ul li p{font-size: 1.1111111rem;color: #4c4948;}

   .part4 ul{padding: 0 1.5%;overflow: hidden;}
   .part4 ul li{margin-top: 2%;float: left;width: 48%;margin-right: 4%;}
   .part4 ul li:nth-of-type(2n){margin-right: 0;}
   .part4 ul li .btn{margin-top: 3%;overflow: hidden;}
   .part4 ul li .btn a{display: block;float: left;overflow: hidden;width: 50%;background-color: #722325;text-align: center;
                         color: #fff;padding: 5% 0;font-size: 1.1111111rem;}
   .part4 ul li .btn a img{display: inline-block;width: 15%;vertical-align: middle;margin-right: 5%;}
   .part4 ul li .btn a:first-child{background-color: #cb9121;}
   .part4 .btn-01{width: 82%;margin: 3% auto;overflow: hidden;}
   .part4 .btn-01 a{display: block;width: 50%;float: left;text-align: center;border: 1px solid #8e7751;padding: 2% 0;
                      color: #8e7751;font-size: 1.2222222rem;}
   .part4 .btn-01 a:last-child{background-color: #8e7751;color: #fff;}

   .reg{margin-top: 3%;background-color: #f3f3f3;text-align: center;}
   .reg h2{font-size: 2.3333333rem;color: #722325;font-weight: bold;}
   .reg h3{font-size: 1.3333333rem;color: #a47417;font-weight: normal;}
   .reg img{margin-top: 2.5%;}
   .reg ul{margin-top: 4%;}
   .reg ul li{margin-bottom: 3%;text-align: left;}
   .reg ul li:last-child{margin-bottom: 4%;}
   .reg ul li span{display: inline-block;width: 27%;text-align: right;font-size: 1.3333333rem;padding: 2% 0;}
   .reg ul li input[type=text],.reg ul li textarea{width: 60%;border: 1px solid #d0cdcd;text-indent: 1em;}
   .reg ul li input[type=text]{padding: 1% 0;}
   .reg ul li:last-child span{vertical-align: top;line-height: 1;}
   .reg .btn-02{width: 35%;margin: 0 auto;}
   .reg .btn-02 input{background-color: #722325;font-size: 1.3333333rem;border: none;color: #fff;width: 100%;padding: 2% 0;}
   .reg p{padding: 3.3%;text-align: left;font-size: 1.1111111rem;}
   .reg p i{font-style: normal;color: #ff0000;}

   footer{margin-top: 3%;background-color: #3f4353;margin-bottom: 11%;}
   footer .foot{padding: 7% 0;}
   footer .foot p{font-size: 1rem;color: #d8d9da;text-align: center;}

   .btn-03{position: fixed;bottom: 0;max-width: 640px;min-width: 320px;overflow: hidden;width: 100%;}
   .btn-03 a{display: block;float: left;width: 50%;background-color: #cb9121;color: #fff;text-align: center;padding: 3% 0;}
   .btn-03 a img{display: inline-block;width: 12%;vertical-align: middle;margin-right: 5%;}
   .btn-03 a:last-child{background-color: #722325;}




