/*   重置样式  star  */
*, :before, :after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, nav, section, article, aside, footer, figure, figcaption, menu, button { margin: 0; padding: 0 }
body{ font-family:Microsoft YaHei, Helvetica, STHeiTi, sans-serif; color:#575757; background-color: #fff;font-size:0.24rem;outline: 0;max-width: 640px; min-width: 320px; width: 100%; margin:auto;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400}
caption, th { text-align: left }
fieldset, img { border: none;}
li { list-style: none }
ins { text-decoration: none }
del { text-decoration: line-through }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0 }
button { -webkit-appearance: none; border: none;  }
a { -webkit-touch-callout: none; text-decoration: none }
:focus { outline:none }
em, i { font-style: normal }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none !important; margin: 0 }
input[type=submit] { -webkit-appearance: none }
p{line-height: 0.32rem;}
.fl{float:left;}
.fr{float:right;}
.hd{ overflow:hidden}
.block{ display:block;}
.none{ display:none;}
img{vertical-align:middle;max-width: 100%;}
/*   重置样式  end  */

.top{ overflow:hidden}
.top header{ overflow:hidden; position:fixed; z-index:999;width:100%;top:0;max-width:640px;min-width:320px; text-align:center; }
.top header img{ width:100%;}
.top header a{ position:absolute; right:1em; top:.8em; width:10%; display:block}
.top header .img1{ width:100%}
.top .sou{ display:block; padding:2% 0; overflow:hidden; margin-top:0.9rem;}
.top .sou input[ type=text]{ width:79%;height: 0.45rem;; background:#fff; padding-left:3%; border:1px solid #dfdfdf;display: block;float: left;}
.top .sou input[ type=submit]{ background:#ba5d12 url(../images/search.jpg) no-repeat 10% 50%; border:none;width:20%;
    height: 0.45rem; color:#FFF; padding-left:4%;display: block;float: right;
    font-size: 0.22rem;; background-size:30%;}
.top nav{ overflow:hidden; padding:0 0 1% 0}
.top nav li{ float:left; padding:2% 2%; background:url(../images/nav_bg.jpg) no-repeat;background-size:100% 100%; width:24.25%; text-align:center;
    font-size: 0.2rem;margin-top:.5%;margin-right: 1%;}
.top nav li a{ color:#FFF}
.top ul li:nth-of-type(4),.top ul li:nth-of-type(8){margin-right: 0;}

.lead{padding: 2% 0;border-top: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;margin-bottom: 0.26rem;margin-top: 0.1rem;}
.lead-01{position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.lead-01 .left{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;width: 70px;
}
.lead-01 .left img{
    width: 20%;
    position: absolute;top: 50%;left: 2%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.lead-01 .right{
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    width: 210px;
}
.lead-01 .right p{font-size: 0.2rem;color: #4c4c4c;text-indent: 2em;
           background: url("../images/lead-02.jpg") no-repeat left center;
           background-size: 2% 100%;padding: 2% 0 2% 3%;}
.lead-01 .right p i{color: #ee6d29;}

.title{overflow: hidden;margin-top: 0.25rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;}
.title .left{position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 2px;background-color: #559cd3;text-align: center;width: 32px;border-top-left-radius: 5px;}
.title .left img{  width: 50%;
    position: absolute;top: 50%;left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.title .right{
    -webkit-box-flex: 9;
    -moz-box-flex: 9;
    -webkit-flex: 9;
    -ms-flex: 9;
    flex: 9;width: 288px;
    background-color: #0c6fc0;overflow: hidden;}
.title .fl-01{width: 79%;float: left;margin-left: 6%;}
.title h2{font-size: 0.38rem;font-weight: bold;color: #fff;line-height: 1;padding-top: 2%;}
.title h3{font-size: 0.12rem;margin-top: 0.08rem;color: #a6c0e1;padding-bottom: 2%;}
.title a{display: block;width: 8.7%;float: right;margin-top: 2.8%;margin-right: 6%;}

.part1-01{position: relative;margin-top: 0.1rem;}
.part1-01 .p1-01{width: 67.5%;position: absolute;right: 2%;top: 4%;}
.p1-01 h2{font-size: 0.2rem;line-height: 0.28rem;color: #4c4c4c;}
.part1 .tab{margin-top: 0.1rem;}
.part1 .tab-hd{overflow: hidden;}
.part1 .tab-hd a{width: 50%;float: left;text-align: center;background-color: #ee8f29;padding: 2% 0;color: #fff;display: block;}
.part1 .tab-hd a.hover{background-color: #0c6fc0;}
.part1 .tab-hd a:first-of-type{border-top-left-radius: 20px;border-bottom-left-radius: 20px;}
.part1 .tab-hd a:last-of-type{border-top-right-radius: 20px;border-bottom-right-radius: 20px;}
.part1 .tab-bd{margin-top: 0.1rem;}
.part1 .tab-bd p{font-size: 0.2rem;line-height: 0.28rem;}
.part1 .tab-bd .p1-02{overflow: hidden;margin-top: 0.2rem;}
.part1 .tab-bd .p1-02 img{float: left;width: 30%;margin-right: 3.33%;display: block;}

.part2 .tab-hd1{overflow: hidden;margin-top: 0.2rem;}
.part2 .tab-hd1 a{width: calc(33.33% - 1px);width: -moz-calc(33.33% - 1px);width: -webkit-calc(33.33% - 1px);margin-right: 1px;
          float: left;background-color: #808080;padding: 2% 0;text-align: center;color: #fff;display: block;}
.part2 .tab-hd1 a:last-of-type{width: 33.33%;margin-right: 0;}
.part2 .tab-hd1 a.hover{background-color: #ee8f29;}
.part2 .tab-bd1{padding: 0.24rem;border: 2px solid #d2d2d2;}
.part2 .tab-bd1 li{overflow: hidden;}
.part2 .tab-bd1 li .fl{width: 44%;}
.part2 .tab-bd1 li .fr{width: 42%;margin-right: 5%;}
.part2 .tab-bd1 li .fr p{font-size: 0.22rem;line-height: 0.38rem;color: #4c4c4c;margin: 0.1rem 0;}
.part2 .tab-bd1 li .fr a{display: block;width: 70%;background-color: #0c6fc0;text-align: center;font-size: 0.21rem;color: #fff;
                            padding: 2% 0;margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.part2 .tab-bd1 li .fr p i{font-weight: bold;}

.part3{background-color: #ebebeb;}
.part3 ul{overflow: hidden;margin-top: 0.2rem;}
.part3 ul li{width: 44%;float: left;margin-left: 4%;margin-bottom: 4%;border: 1px solid #d4d4d4;}
.part3 ul li p{font-size: 0.25rem;font-weight: bold;color: #0c6fc0;padding: 5% 0;background-color: #fff;text-align: center;}
.part3>h2{text-align: center;color: #5d5d5d;font-size: 0.3rem;font-weight: bold;margin-bottom: 4%;}

.btn{overflow: hidden;padding: 0 4%;}
.btn a{display: block;}
.btn .fl{width: 52%;padding: 4.5% 0;background: url("../images/b1.jpg") no-repeat;background-size: 100% 100%;}
.btn .fr{width: 44%;padding: 4.5% 0;background: url("../images/b2.jpg") no-repeat;background-size: 100% 100%;}

.part4 .p4-01{overflow: hidden;margin-top: 0.13rem;height: 2.88rem;}
.p4-01 .fl{width: 52%;padding: 0.05rem;border: 1px solid #cdcdcd;height: 2.88rem;}
.p4-01 .fr{width: 46%;border: 1px solid #cdcdcd;height: 2.88rem;overflow-y: scroll;}
.p4-01 .fr p{font-size: 0.21rem;color: #4c4c51;line-height: 0.33rem;padding: 0.15rem;}
.p4-01 .fr p i{color: #0c6fc0;}

.p4-02>img{width: 48%;margin: 0.2rem auto;display: block;}
.p4-02 h2{height: 0.4rem;line-height: 0.4rem;font-size: 0.26rem;font-weight: bold;color: #000;}
.p4-02 h2 span{display: inline-block;color: #fff;width: 0.4rem;height: 0.4rem;line-height: 0.4rem;background-color: #7b9fc6;margin-right: 0.03rem;
                 text-align: center;}
.p4-03{margin-top: 2%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;}
.p4-03 .left{border: 1px solid #bdbdbd;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 5px;text-align: center;width: 100px;}
.p4-03 .right{border: 1px solid #bdbdbd;
    -webkit-box-flex: 2.2;
    -moz-box-flex: 2.2;
    -webkit-flex: 2.2;
    -ms-flex: 2.2;
    flex: 2.2;width: 218px;
   overflow: hidden;}
.p4-03 .left img{padding: 3px;}
.p4-03 .left p{font-size: 0.21rem;color: #4c4c4c;margin-top: 10%;}
.p4-03 .right>div{padding: 0.2rem 0.12rem 0.1rem;}
.p4-03 h3{font-size: 0.25rem;color: #0c6fc0;font-weight: bold;text-align: center;}
.p4-03 ul{margin-top: 0.05rem;}
.p4-03 li{font-size: 0.2rem;line-height: 0.32rem;color: #4c4c4c;}
.p4-03 a{display: block;width: 90%;margin: 2% auto;background-color: #f2732c;color: #fff;font-size: 0.2rem;text-align: center;
          padding: 2% 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}

.p4-04{padding: 0.2rem;overflow: hidden;border: 1px solid #bfbfbf;margin-top: 2%;margin-bottom: 0.2rem;}
.p4-04 .fl{width: 50%;}
.p4-04 .fl h4{color: #0c6fc0;font-size: 0.25rem;font-weight: bold;text-align: center;}
.p4-04 .fl p{font-size: 0.19rem;color: #4c4c4c;margin-top: 0.1rem;}
.p4-04 .fr{width: 50%;}

 .tab-hd2{overflow: hidden;margin-top: 0.2rem;}
.tab-hd2 a{width: calc(33.33% - 1px);width: -moz-calc(33.33% - 1px);width: -webkit-calc(33.33% - 1px);margin-right: 1px;font-size: 0.2rem;
    float: left;background-color: #808080;padding: 2% 0;text-align: center;color: #fff;display: block;}
.tab-hd2 a:last-of-type{width: 33.33%;margin-right: 0;}
 .tab-hd2 a.hover{background-color: #ee8f29;}
 .tab-bd2{padding: 0.15rem 0.1rem;border: 2px solid #d2d2d2;}
 .tab-bd2 li{overflow: hidden;}
 .tab-bd2 li .fl{width: 46%;}
 .tab-bd2 li .fr{width: 48%;margin-right: 3%;}
.tab-bd2 li .fr p{font-size: 0.2rem;line-height: 0.38rem;color: #4c4c4c;margin: 0.05rem 0;}
 .tab-bd2 li .fr a{display: block;width: 40%;background: url("../images/part4-06.jpg") no-repeat;text-align: center;font-size: 0.21rem;color: #fff;
    padding: 2% 0;margin: 3% auto;background-size: 100% 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
 .tab-bd2 li .fr p i{font-weight: bold;}
 .tab-bd2 li h2{font-size: 0.2rem;color: #0c6fc0;}

 .part4 h5{font-size: 0.32rem;color: #5d5d5d;text-align: center;margin: 0.2rem auto;}

.tab3{margin-top: 0.15rem;}
.tab-hd3{padding: 0.1rem 0.6rem;border-bottom: 1px solid #ebebeb;overflow: hidden;}
.tab-hd3 a{width: 30%;margin-right:5%;float: left;background-color: #b7b7b7;display: block;
            padding: 1px;}
.tab-hd3 a:last-of-type{margin-right: 0;}
.tab-hd3 a.hover{background-color: #0c6fc0;}
.tab-hd3 a img{width: 100%;}
.tab-bd3{padding:0 0.1rem;margin-top: 0.2rem;}
.tab-bd3 ul li{width: 100%;}
.tab-bd3 ul .p5-03{position: relative;}
.tab-bd3 ul li .p5-01{position: absolute;right: 2%;bottom: 0;padding-bottom: 3%;}
.tab-bd3 h2{font-size: 0.56rem;color: #0c6fc0;font-weight: bold;}
.tab-bd3 h3{color: #4c4c4c;font-size: 0.24rem;padding: 5% 0;border-bottom: 1px solid #d0d0d0;margin-bottom: 2%;}
.tab-bd3 h3 i{color: #f2732c;}
.tab-bd3 p{font-size: 0.22rem;line-height: 0.32rem;}
.tab-bd3 p a{color: #f2732c;}
.tab-bd3 p em{font-weight: bold;color: #0c6fc0;}
 .p5-02{background: url("../images/p5-07.jpg") no-repeat;background-size: 100% 100%;padding: 0.15rem 0 0.15rem 0.78rem;overflow: hidden;
               width: 6.2rem;margin: 0 auto;}
 .p5-02 a{display: block;margin-right: 0.28rem;width: 1.04rem;height: 1.04rem;text-align: center;font-size: 0.18rem;
                    color: #fff;background-color: #fcb87e;line-height: 1;float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;}

.p5-02 a img{display: block;margin: 0.1rem auto;width: 0.46rem;}
.p5-02 a:last-child{margin-right: 0;}
.p5-02 a:hover{background-color: #fb872f;}




.part6 ul{overflow: hidden;margin-top: 3%;}
.part6 ul li{width: 49%;float: left;margin-right: 2%;margin-bottom: 2%;}
.part6 ul li:nth-of-type(2n){margin-right: 0;}

.p7-01{padding: 0.2rem;background-color: #ebebeb;}
.p7-01 p{padding: 0.3rem 0.4rem;background: url("../images/p7-01.jpg") no-repeat;background-size: 100% 100%;text-indent: 2em;font-size: 0.2rem;}
.p7-02{overflow: hidden;margin-top: 3%;}
.p7-02 li{padding: 1.5% 0;float: left;margin-right: 2%;text-align: center;margin-bottom: 2%;}
.p7-02 li:nth-of-type(2n){margin-right: 0;}
.p7-02 li a{color: #fff;}
.p7-02 .i1{width: 44%;background-color: #af8ca8;}
.p7-02 .i2{width: 54%;background-color: #8dada5;}
.p7-02 .i3{width: 46%;background-color: #8dada5;}
.p7-02 .i4{width: 52%;background-color: #abad8d;}
.p7-02 .i5{width: 48%;background-color: #948bad;}
.p7-02 .i6{width: 50%;background-color: #af8ca8;}
.p7-03{overflow: hidden;margin-top: 3%;}
.p7-03 li{width: 30%;margin-left: 2.5%;float: left;}

a.ilink{display:block;}

a.ilink img{display:block;}


.hd{ overflow:hidden;}

.mt2{margin-top:2%;}


.iform{background:#f2f2f2;padding:3% 0;}

.iform span{width:84%;display:block;margin:0 auto;padding:2% 0;background:url(../images/guahao.png) left bottom no-repeat;
    background-size:100% 100%;text-align:center;color:#4c4948;font-weight:bold;font-size:0.24rem;}

.iform em{display:block;text-align:center;color:#dd2d10;margin:2%;}

.iform_a {    width: 90%;margin: 0 auto;}

.iform_a dl{display:block;margin-top:3%;overflow:hidden;}

.iform_a dl dt{float:left;display:block;}

.iform_a dl dd{float:right;width:70%;display:block}

.iform_a dl dd input{width:88%;padding:1%}

.iform_a dl.sex input{    width: 10%;padding:0;}

.iform_a dl dd textarea{width:88%;height:80px;padding:1%;}

.button{margin:2% auto;}

.button input{background:#09428e;color:#fff;border:none;padding:2% 0;    width: 32%;

    margin: 0 auto;

    display: block;}

.iform_a dd select{width:90%;}

.iform_a dd select option{width:100%;}



.footer img{width:72%;margin:2% auto;display:block;}

.footer p{text-align:center;}

