*, :before, :after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header nav, section, article, aside, footer, figure, figcaption, menu, button {
	margin: 0;
	padding: 0
}
body {
	font-family: Microsoft YaHei, Helvetica, STHeiTi, sans-serif;
	color: #575757;
	background-color: #fff;
	font-size: .2rem;
	outline: 0;
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: auto
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
caption, th {
	text-align: left
}
fieldset, img {
	border: 0
}
li {
	list-style: none
}
ins {
	text-decoration: none
}
del {
	text-decoration: line-through
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0
}
button {
	-webkit-appearance: none;
	border: 0;
	background: 0 0
}
a {
	-webkit-touch-callout: none;
	text-decoration: none;
	color: #595959
}
.fl{float: left;}
.fr{float: right;}
:focus {
	outline: 0
}
em, i {
	font-style: normal
}
input[type=date] {
	text-align: right
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, input[type=submit] {
	-webkit-appearance: none !important;
	margin: 0
}
.none {
	display: none
}
.block {
	display: block
}
.clearfix:after {
	content: '';
	display: table;
	clear: both
}
img {
	max-width: 100%;
	vertical-align: middle
}


.head{position: fixed;top: 0;min-width: 320px;max-width: 640px;z-index: 999;}

.logo{margin-top: 1rem;}
.logo img{width: 100%;}

.h_nav ul{padding: .05rem 0 .2rem;overflow: hidden;}
.h_nav ul li{width: 24%;margin: 0 .5%;float: left;text-align: center;background-color: #a40200;}
.h_nav ul li a{display: block;color: #fff;font-size: .28rem;padding-bottom: .06rem;}
.h_nav ul li a img{display: block;width: .66rem;margin: .1rem auto 0;}

.banner img {display: block;}


.title .t1{overflow: hidden;width: 3.64rem;margin: 0 auto;}
.title span{display: block;float: left;width: .56rem;height: .56rem;line-height: .56rem;text-align: center;background-color: #a40200;
              font-size: .48rem;font-weight: bold;color: #fff;}
.title p{width: 3rem;float: right;font-size: .36rem;font-weight: bold;color: #a40200;line-height: 1;}
.title p i{display: block;font-size: .14rem;color: #a1a1a1;margin-top: .06rem;}
.title img{margin-top: .16rem;}

.part1{margin-top: .37rem;}
.part1 ul{margin-top: .15rem;}
.part1 ul li{overflow: hidden;margin-bottom: .26rem;}
.part1 ul li .i1{width: 59.8%;border: 2px solid #dcdcdc;height: 2.18rem;}
.part1 ul li .i2{height: 2.18rem;width: 40.2%;border: 2px dashed #dcdcdc;background-color: #f4f4f4;padding-top: .43rem;}
.part1 li h3{width: 1.32rem;margin: 0 auto;background: url("../images/p1-04.jpg") no-repeat;line-height: 1;
                      background-size: 100% 100%;font-size: .24rem;color: #a40200;text-align: center;padding: .08rem 0 .19rem;}
.part1 li p{margin-top: .06rem;font-size: .18rem;line-height: .26rem;padding: 0 .18rem;}
.btn{width: 56%;margin: 0 auto;overflow: hidden;}
.btn a{display: block;float: left;width: 45%;margin-right: 10%;font-size: .22rem;color: #fff;height: .43rem;line-height: .43rem;
        background-color: #a40200;text-align: center;}
.btn a:nth-of-type(2){background-color: #f58500;margin-right: 0;}
.btn a img{width: .26rem;margin-right: .07rem;}

.part2{margin-top: .37rem;}
.part2 ul{margin: .27rem 0;overflow: hidden;}
.part2 ul li{width: 32%;margin-right: 2%;float: left;height: 3.53rem;font-size: .16rem;line-height: .26rem;padding: 1.97rem .2rem 0;
      text-align: center;background: url("../images/p2-01.jpg") no-repeat;background-size: 100% 100%;color: #414141;}
.part2 ul li:nth-of-type(2){background: url("../images/p2-02.jpg") no-repeat;background-size: 100% 100%;}
.part2 ul li:last-of-type{margin-right: 0;background: url("../images/p2-03.jpg") no-repeat;background-size: 100% 100%;}

.part3{margin-top: .37rem;}
.part3 .title .t1{width: 4.24rem;}
.part3 .title .t1 p{width: 3.6rem;}
.part3 ul{margin: .25rem 0;overflow: hidden;background: url("../images/p3-01.jpg") no-repeat;background-size: 100% 100%;}
.part3 ul li{width: 30.4%;margin-right: 4.4%;float: left;height: 1.94rem;line-height: 1.94rem;text-align: center;color: #fff;}
.part3 ul li:last-of-type{margin-right: 0;}
.part3 .p3-01{background: url("../images/p3-02.jpg") no-repeat;background-size: 100% 100%;}
.part3 .btn{margin: .3rem auto 0;}

.part4{margin-top: .37rem;}
.part4 .title .t1{width: 5.04rem;}
.part4 .title .t1 p{width: 4.4rem;}
.part4 ul{overflow: hidden;padding-top: 0.06rem;}
.part4 ul li{width: 36%;margin-right: 28%;float: left;height: 1.05rem;overflow: hidden;padding-top: .07rem;border-bottom: 1px dashed #dcdcdc;}
.part4 ul li:nth-of-type(2n){margin-right: 0;}
.part4 li span{display: block;width: 20%;height: .24rem;line-height: .24rem;font-size: .16rem;float: left;color: #fff;
	text-align: center;background-color: #a40200;margin-top: .06rem;}
.part4 li p{float: right;width: 76.4%;font-size: .16rem;line-height: .24rem;}
.part4 li:nth-of-type(3){width: 33.4%;margin-right: 30.6%;}
.part4 li:nth-of-type(3),.part4 li:nth-of-type(4){border: none;}
.part4 .p4-01{position: relative;padding: .1rem 0;margin: .25rem 0;}
.part4 .img1{display: block;width: 1.63rem;position: absolute;top: 0;left: 2.24rem;}

.part5{margin-top: .39rem;}
.part5 .title .t1{width: 4.09rem;}
.part5 .title .t1 p{width: 3.45rem;}
.p5-01{margin-top: .23rem;background: url("../images/p5-01.jpg") no-repeat;background-size: 100% 100%;overflow: hidden;}
.p5-01 .fl{width: 50%;}
.p5-01 h3{text-align: center;height: .58rem;line-height: .58rem;color: #a40200;font-size: .24rem;}
.p5-01 li{height: 1.34rem;padding: .17rem .5rem .17rem .1rem;}
.p5-01 .fl h4{color: #a40200;height: .23rem;line-height: .23rem;}
.p5-01 h4 img{width: .2rem;margin-right: .03rem;}
.p5-01 p{font-size: .16rem;line-height: .24rem;margin-top: .06rem;}
.p5-01 .fr{width: 50%;}
.p5-01 .fr li{padding: .17rem .1rem .17rem .45rem;}
.p5-01 .i1{height: 1.09rem;}
.part5 .btn{margin: .3rem auto 0;}

.intro{margin-top: .3rem;}
.intro .swt{text-align: center;margin-top: .4rem;}
.intro .swt a{display: inline-block;width: 2.24rem;margin: 0 .2rem;}
.intro .img1{margin: .1rem 0;width: 100%;}
.intro1 a{display: block;}

.part6{margin-top: .38rem;}
.part6 .title .t1{width: 4.74rem;}
.part6 .title .t1 p{width: 4.1rem;}
.p6-01{margin-top: .14rem;position: relative;}
.p6-02{width: 3.53rem;position: absolute;top: .52rem;right: .12rem;}
.name{overflow: hidden;}
.name b{display: block;width: 1.53rem;font-size: .44rem;color: #000;float: left;line-height: 1;}
.name b i{font-weight: normal;color: #131212;}
.name span{display: block;float: left;width: 2rem;font-size: .12rem;color: #838383;}
.name span em{display: block;color: #000;font-weight: bold;font-size: .21rem;}
.p6-02 p{font-size: .16rem;line-height: .3rem;margin-top: .1rem;color: #525252}
.p6-02 .swt{margin-top: .35rem;overflow: hidden;}
.p6-02 .swt a{display: block;width: .94rem;margin-left: .65rem;float: left;}
.p6-02 .swt .a1{margin-left: .25rem;}

.from{margin-top: .4rem;}
.from .title{height: .52rem;line-height: .52rem;background-color: #a40200;text-align: center;font-size: .36rem;color: #fff;}
.from .point{font-size: .28rem;text-align: center;color: #c40200;padding: .1rem 0;}
.from table{width: 80%;margin: 0 auto;color:#464646;}
.from table tr{height: .6rem;}
.from table span{font-size: .28rem;text-align: right;}
.from table input, .from table select{width: 86%;height: .47rem;line-height: .47rem;border: 1px solid #bbb;
	padding: .05rem;font-size: .16rem;text-align: left;}
.from table table{width: 90%;margin: .2rem auto 0;}
.from table table input, .from table table a{text-align: center;display: block;width: 1.92rem;height: .55rem;line-height: .55rem;
      border: none;font-size: .32rem;color: #fff;margin: 0 auto;padding: 0;
	-webkit-box-shadow: 1px 2px 2px #999;
	-moz-box-shadow: 1px 2px 2px #999;
	box-shadow: 1px 2px 2px #999;
	-webkit-border-radius: .08rem;
	-moz-border-radius: .08rem;
	border-radius: .08rem;}
.from table table input{background-color:#a40200; }
.from table table a{background-color: #e3951b;}

.foot_nav{height: .56rem;line-height: .56rem;font-size: .16rem;text-align: center;color: #fff;background-color: #a40200;margin-top: .15rem;}
.foot_nav a{width: 20%;display: inline-block;color: #fff;}

footer{width: 95%;margin: 0 auto;}
footer img{width: 100%;margin: .24rem 0 .11rem;}
footer p{color: #555;text-align: center;font-size: .16rem;line-height: .3rem;border-top: 1px dashed #ccc;padding-top: .15rem;}